In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'
table_name = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

lifeexpectancy_df = pd.read_sql_query('select * from lifeexpectancy',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [2]:
# What does the data look like?
lifeexpectancy_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
# What types of data are in the df?
lifeexpectancy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
Country                            2938 non-null object
Year                               2938 non-null int64
Status                             2938 non-null object
Life expectancy                    2928 non-null float64
Adult Mortality                    2928 non-null float64
infant deaths                      2938 non-null int64
Alcohol                            2744 non-null float64
percentage expenditure             2938 non-null float64
Hepatitis B                        2385 non-null float64
Measles                            2938 non-null int64
 BMI                               2904 non-null float64
under-five deaths                  2938 non-null int64
Polio                              2919 non-null float64
Total expenditure                  2712 non-null float64
Diphtheria                         2919 non-null float64
 HIV/AIDS                          2938 non-null float64
GDP                                2490 non-null float64
Population                         2286 non-null float64
 thinness  1-19 years              2904 non-null float64
 thinness 5-9 years                2904 non-null float64
Income composition of resources    2771 non-null float64
Schooling                          2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 482.1+ KB

In [4]:
# how many nulls in the set?
lifeexpectancy_df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [5]:
# separate the columns that have nulls for imputation
cols_with_null = []
for col in lifeexpectancy_df.columns:
    if lifeexpectancy_df[col].isnull().sum() > 0:
        cols_with_null.append(col)
print(cols_with_null)

['Life expectancy ', 'Adult Mortality', 'Alcohol', 'Hepatitis B', ' BMI ', 'Polio', 'Total expenditure', 'Diphtheria ', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [6]:
# determine the % of nulls in each column
lifeexpectancy_df.isnull().sum()*100/lifeexpectancy_df.isnull().count()

Country                             0.000000
Year                                0.000000
Status                              0.000000
Life expectancy                     0.340368
Adult Mortality                     0.340368
infant deaths                       0.000000
Alcohol                             6.603131
percentage expenditure              0.000000
Hepatitis B                        18.822328
Measles                             0.000000
 BMI                                1.157250
under-five deaths                   0.000000
Polio                               0.646698
Total expenditure                   7.692308
Diphtheria                          0.646698
 HIV/AIDS                           0.000000
GDP                                15.248468
Population                         22.191967
 thinness  1-19 years               1.157250
 thinness 5-9 years                 1.157250
Income composition of resources     5.684139
Schooling                           5.547992
dtype: float64

In [7]:
# imputation will be done by country
countries = lifeexpectancy_df["Country"].unique()

In [8]:
lifeexpectancy_df.Country.value_counts()

Sierra Leone                                            16
Croatia                                                 16
Slovakia                                                16
Central African Republic                                16
Democratic Republic of the Congo                        16
Mali                                                    16
Guinea                                                  16
Mozambique                                              16
Denmark                                                 16
Suriname                                                16
South Africa                                            16
Thailand                                                16
Solomon Islands                                         16
Grenada                                                 16
Saint Vincent and the Grenadines                        16
Slovenia                                                16
Australia                                               16
Cambodia                                                16
Bahamas                                                 16
Kyrgyzstan                                              16
Tonga                                                   16
Madagascar                                              16
Nicaragua                                               16
Somalia                                                 16
Equatorial Guinea                                       16
Niger                                                   16
Trinidad and Tobago                                     16
Republic of Korea                                       16
Spain                                                   16
Switzerland                                             16
                                                        ..
Malaysia                                                16
New Zealand                                             16
United Republic of Tanzania                             16
Serbia                                                  16
United Kingdom of Great Britain and Northern Ireland    16
Cuba                                                    16
Belize                                                  16
Iceland                                                 16
Austria                                                 16
Timor-Leste                                             16
Sri Lanka                                               16
Belarus                                                 16
Poland                                                  16
Sudan                                                   16
Namibia                                                 16
Iraq                                                    16
Lebanon                                                 16
Philippines                                             16
Bosnia and Herzegovina                                  16
Guatemala                                               16
Marshall Islands                                         1
Palau                                                    1
Saint Kitts and Nevis                                    1
Nauru                                                    1
Tuvalu                                                   1
San Marino                                               1
Monaco                                                   1
Dominica                                                 1
Cook Islands                                             1
Niue                                                     1
Name: Country, Length: 193, dtype: int64

In [9]:
# make a copy in case something bad happens!
le2 = lifeexpectancy_df.copy()

# imputation using each country's mean value
for col in cols_with_null:
    for country in countries:
        le2.loc[le2["Country"] == country, col].fillna(le2[le2["Country"] == country][col].mean(), inplace=True)

In [10]:
# how much effect did imputation have?
for col in cols_with_null:
    print("Statistics for columns: {}".format(col))
    print(pd.concat([lifeexpectancy_df[col], le2[col]], axis=1).describe())

Statistics for columns: Life expectancy
       Life expectancy   Life expectancy
count       2928.000000       2928.000000
mean          69.224932         69.224932
std            9.523867          9.523867
min           36.300000         36.300000
25%           63.100000         63.100000
50%           72.100000         72.100000
75%           75.700000         75.700000
max           89.000000         89.000000
Statistics for columns: Adult Mortality
       Adult Mortality  Adult Mortality
count      2928.000000      2928.000000
mean        164.796448       164.796448
std         124.292079       124.292079
min           1.000000         1.000000
25%          74.000000        74.000000
50%         144.000000       144.000000
75%         228.000000       228.000000
max         723.000000       723.000000
Statistics for columns: Alcohol
           Alcohol      Alcohol
count  2744.000000  2744.000000
mean      4.602861     4.602861
std       4.052413     4.052413
min       0.010000     0.010000
25%       0.877500     0.877500
50%       3.755000     3.755000
75%       7.702500     7.702500
max      17.870000    17.870000
Statistics for columns: Hepatitis B
       Hepatitis B  Hepatitis B
count  2385.000000  2385.000000
mean     80.940461    80.940461
std      25.070016    25.070016
min       1.000000     1.000000
25%      77.000000    77.000000
50%      92.000000    92.000000
75%      97.000000    97.000000
max      99.000000    99.000000
Statistics for columns:  BMI
              BMI          BMI
count  2904.000000  2904.000000
mean     38.321247    38.321247
std      20.044034    20.044034
min       1.000000     1.000000
25%      19.300000    19.300000
50%      43.500000    43.500000
75%      56.200000    56.200000
max      87.300000    87.300000
Statistics for columns: Polio
             Polio        Polio
count  2919.000000  2919.000000
mean     82.550188    82.550188
std      23.428046    23.428046
min       3.000000     3.000000
25%      78.000000    78.000000
50%      93.000000    93.000000
75%      97.000000    97.000000
max      99.000000    99.000000
Statistics for columns: Total expenditure
       Total expenditure  Total expenditure
count         2712.00000         2712.00000
mean             5.93819            5.93819
std              2.49832            2.49832
min              0.37000            0.37000
25%              4.26000            4.26000
50%              5.75500            5.75500
75%              7.49250            7.49250
max             17.60000           17.60000
Statistics for columns: Diphtheria
       Diphtheria   Diphtheria
count  2919.000000  2919.000000
mean     82.324084    82.324084
std      23.716912    23.716912
min       2.000000     2.000000
25%      78.000000    78.000000
50%      93.000000    93.000000
75%      97.000000    97.000000
max      99.000000    99.000000
Statistics for columns: GDP
                 GDP            GDP
count    2490.000000    2490.000000
mean     7483.158469    7483.158469
std     14270.169342   14270.169342
min         1.681350       1.681350
25%       463.935626     463.935626
50%      1766.947595    1766.947595
75%      5910.806335    5910.806335
max    119172.741800  119172.741800
Statistics for columns: Population
         Population    Population
count  2.286000e+03  2.286000e+03
mean   1.275338e+07  1.275338e+07
std    6.101210e+07  6.101210e+07
min    3.400000e+01  3.400000e+01
25%    1.957932e+05  1.957932e+05
50%    1.386542e+06  1.386542e+06
75%    7.420359e+06  7.420359e+06
max    1.293859e+09  1.293859e+09
Statistics for columns:  thinness  1-19 years
        thinness  1-19 years   thinness  1-19 years
count            2904.000000            2904.000000
mean                4.839704               4.839704
std                 4.420195               4.420195
min                 0.100000               0.100000
25%                 1.600000               1.600000
50%                 3.300000               3.300000
75%                 7.200000               7.200000
max                27.700000              27.700000
Statistics for columns:  thinness 5-9 years
        thinness 5-9 years   thinness 5-9 years
count          2904.000000          2904.000000
mean              4.870317             4.870317
std               4.508882             4.508882
min               0.100000             0.100000
25%               1.500000             1.500000
50%               3.300000             3.300000
75%               7.200000             7.200000
max              28.600000            28.600000
Statistics for columns: Income composition of resources
       Income composition of resources  Income composition of resources
count                      2771.000000                      2771.000000
mean                          0.627551                         0.627551
std                           0.210904                         0.210904
min                           0.000000                         0.000000
25%                           0.493000                         0.493000
50%                           0.677000                         0.677000
75%                           0.779000                         0.779000
max                           0.948000                         0.948000
Statistics for columns: Schooling
         Schooling    Schooling
count  2775.000000  2775.000000
mean     11.992793    11.992793
std       3.358920     3.358920
min       0.000000     0.000000
25%      10.100000    10.100000
50%      12.300000    12.300000
75%      14.300000    14.300000
max      20.700000    20.700000