In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'
table_name = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

lifeexpectancy_df = pd.read_sql_query('select * from lifeexpectancy',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [2]:
# What does the data look like?
lifeexpectancy_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
# What types of data are in the df?
lifeexpectancy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
Country                            2938 non-null object
Year                               2938 non-null int64
Status                             2938 non-null object
Life expectancy                    2928 non-null float64
Adult Mortality                    2928 non-null float64
infant deaths                      2938 non-null int64
Alcohol                            2744 non-null float64
percentage expenditure             2938 non-null float64
Hepatitis B                        2385 non-null float64
Measles                            2938 non-null int64
 BMI                               2904 non-null float64
under-five deaths                  2938 non-null int64
Polio                              2919 non-null float64
Total expenditure                  2712 non-null float64
Diphtheria                         2919 non-null float64
 HIV/AIDS                          2938 non-null float64
GDP                                2490 non-null float64
Population                         2286 non-null float64
 thinness  1-19 years              2904 non-null float64
 thinness 5-9 years                2904 non-null float64
Income composition of resources    2771 non-null float64
Schooling                          2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 482.1+ KB

In [4]:
# how many nulls in the set?
lifeexpectancy_df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [5]:
# separate the columns that have nulls for imputation
cols_with_null = []
for col in lifeexpectancy_df.columns:
    if lifeexpectancy_df[col].isnull().sum() > 0:
        cols_with_null.append(col)
print(cols_with_null)

['Life expectancy ', 'Adult Mortality', 'Alcohol', 'Hepatitis B', ' BMI ', 'Polio', 'Total expenditure', 'Diphtheria ', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [6]:
# make a copy in case something bad happens!
le2 = lifeexpectancy_df.copy()

# imputation will be done by country
countries = lifeexpectancy_df["Country"].unique()

# imputation using each country's mean value
for col in cols_with_null:
    for c in countries:
        le2.loc[le2["Country"] == c, col].fillna(le2[le2["Country"] == c][col].mean())

In [7]:
# how much effect did imputation have?
for col in cols_with_null:
    print("Statistics for columns: {}".format(col))
    print(pd.concat([lifeexpectancy_df[col], le2[col]], axis=1).describe())

Statistics for columns: Life expectancy
       Life expectancy   Life expectancy
count       2928.000000       2928.000000
mean          69.224932         69.224932
std            9.523867          9.523867
min           36.300000         36.300000
25%           63.100000         63.100000
50%           72.100000         72.100000
75%           75.700000         75.700000
max           89.000000         89.000000
Statistics for columns: Adult Mortality
       Adult Mortality  Adult Mortality
count      2928.000000      2928.000000
mean        164.796448       164.796448
std         124.292079       124.292079
min           1.000000         1.000000
25%          74.000000        74.000000
50%         144.000000       144.000000
75%         228.000000       228.000000
max         723.000000       723.000000
Statistics for columns: Alcohol
           Alcohol      Alcohol
count  2744.000000  2744.000000
mean      4.602861     4.602861
std       4.052413     4.052413
min       0.010000     0.010000
25%       0.877500     0.877500
50%       3.755000     3.755000
75%       7.702500     7.702500
max      17.870000    17.870000
Statistics for columns: Hepatitis B
       Hepatitis B  Hepatitis B
count  2385.000000  2385.000000
mean     80.940461    80.940461
std      25.070016    25.070016
min       1.000000     1.000000
25%      77.000000    77.000000
50%      92.000000    92.000000
75%      97.000000    97.000000
max      99.000000    99.000000
Statistics for columns:  BMI
              BMI          BMI
count  2904.000000  2904.000000
mean     38.321247    38.321247
std      20.044034    20.044034
min       1.000000     1.000000
25%      19.300000    19.300000
50%      43.500000    43.500000
75%      56.200000    56.200000
max      87.300000    87.300000
Statistics for columns: Polio
             Polio        Polio
count  2919.000000  2919.000000
mean     82.550188    82.550188
std      23.428046    23.428046
min       3.000000     3.000000
25%      78.000000    78.000000
50%      93.000000    93.000000
75%      97.000000    97.000000
max      99.000000    99.000000
Statistics for columns: Total expenditure
       Total expenditure  Total expenditure
count         2712.00000         2712.00000
mean             5.93819            5.93819
std              2.49832            2.49832
min              0.37000            0.37000
25%              4.26000            4.26000
50%              5.75500            5.75500
75%              7.49250            7.49250
max             17.60000           17.60000
Statistics for columns: Diphtheria
       Diphtheria   Diphtheria
count  2919.000000  2919.000000
mean     82.324084    82.324084
std      23.716912    23.716912
min       2.000000     2.000000
25%      78.000000    78.000000
50%      93.000000    93.000000
75%      97.000000    97.000000
max      99.000000    99.000000
Statistics for columns: GDP
                 GDP            GDP
count    2490.000000    2490.000000
mean     7483.158469    7483.158469
std     14270.169342   14270.169342
min         1.681350       1.681350
25%       463.935626     463.935626
50%      1766.947595    1766.947595
75%      5910.806335    5910.806335
max    119172.741800  119172.741800
Statistics for columns: Population
         Population    Population
count  2.286000e+03  2.286000e+03
mean   1.275338e+07  1.275338e+07
std    6.101210e+07  6.101210e+07
min    3.400000e+01  3.400000e+01
25%    1.957932e+05  1.957932e+05
50%    1.386542e+06  1.386542e+06
75%    7.420359e+06  7.420359e+06
max    1.293859e+09  1.293859e+09
Statistics for columns:  thinness  1-19 years
        thinness  1-19 years   thinness  1-19 years
count            2904.000000            2904.000000
mean                4.839704               4.839704
std                 4.420195               4.420195
min                 0.100000               0.100000
25%                 1.600000               1.600000
50%                 3.300000               3.300000
75%                 7.200000               7.200000
max                27.700000              27.700000
Statistics for columns:  thinness 5-9 years
        thinness 5-9 years   thinness 5-9 years
count          2904.000000          2904.000000
mean              4.870317             4.870317
std               4.508882             4.508882
min               0.100000             0.100000
25%               1.500000             1.500000
50%               3.300000             3.300000
75%               7.200000             7.200000
max              28.600000            28.600000
Statistics for columns: Income composition of resources
       Income composition of resources  Income composition of resources
count                      2771.000000                      2771.000000
mean                          0.627551                         0.627551
std                           0.210904                         0.210904
min                           0.000000                         0.000000
25%                           0.493000                         0.493000
50%                           0.677000                         0.677000
75%                           0.779000                         0.779000
max                           0.948000                         0.948000
Statistics for columns: Schooling
         Schooling    Schooling
count  2775.000000  2775.000000
mean     11.992793    11.992793
std       3.358920     3.358920
min       0.000000     0.000000
25%      10.100000    10.100000
50%      12.300000    12.300000
75%      14.300000    14.300000
max      20.700000    20.700000

Based on the output of the above cell, imputation failed...no nulls have been filled in

In [8]:
# trying to identify where the problems are
le3 = lifeexpectancy_df.copy()
for col in cols_with_null:
    for country in countries:
        missing_number = le3.loc[le3["Country"] == country, col].isnull().sum()
        if missing_number>0:
            print("total missing ratio: ", missing_number/le3.loc[le3["Country"] == country, col].shape[0])
            print("replacement value: ", le3[le3["Country"] == country][col].mean())

total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  0.4066666666666667
total missing ratio:  0.0625
replacement value:  2.8373333333333335
total missing ratio:  0.0625
replacement value:  5.740666666666667
total missing ratio:  0.0625
replacement value:  7.949333333333334
total missing ratio:  0.0625
replacement value:  7.966666666666667
total missing ratio:  0.0625
replacement value:  3.7026666666666666
total missing ratio:  0.0625
replacement value:  10.155333333333335
total missing ratio:  0.0625
replacement value:  12.236
total missing ratio:  0.0625
replacement value:  0.9919999999999999
total missing ratio:  0.0625
replacement value:  10.271333333333333
total missing ratio:  0.0625
replacement value:  1.934666666666667
total missing ratio:  0.0625
replacement value:  0.010000000000000002
total missing ratio:  0.0625
replacement value:  8.206666666666667
total missing ratio:  0.0625
replacement value:  13.497333333333334
total missing ratio:  0.0625
replacement value:  11.042666666666666
total missing ratio:  0.0625
replacement value:  6.252666666666666
total missing ratio:  0.0625
replacement value:  1.0
total missing ratio:  0.0625
replacement value:  0.2786666666666667
total missing ratio:  0.0625
replacement value:  3.2120000000000006
total missing ratio:  0.0625
replacement value:  4.405333333333333
total missing ratio:  0.0625
replacement value:  4.670000000000001
total missing ratio:  0.0625
replacement value:  7.213333333333334
total missing ratio:  0.0625
replacement value:  0.37866666666666665
total missing ratio:  0.0625
replacement value:  10.865333333333334
total missing ratio:  0.0625
replacement value:  4.241333333333333
total missing ratio:  0.0625
replacement value:  4.1033333333333335
total missing ratio:  0.0625
replacement value:  3.448
total missing ratio:  0.0625
replacement value:  1.486
total missing ratio:  0.0625
replacement value:  4.141333333333334
total missing ratio:  0.0625
replacement value:  8.053333333333333
total missing ratio:  0.0625
replacement value:  1.2313333333333332
total missing ratio:  0.0625
replacement value:  0.41133333333333333
total missing ratio:  0.0625
replacement value:  6.978
total missing ratio:  0.0625
replacement value:  4.182
total missing ratio:  0.0625
replacement value:  4.419333333333333
total missing ratio:  0.0625
replacement value:  0.13466666666666666
total missing ratio:  0.0625
replacement value:  2.1733333333333333
total missing ratio:  0.0625
replacement value:  3.9246666666666665
total missing ratio:  0.0625
replacement value:  12.448
total missing ratio:  0.0625
replacement value:  4.190666666666666
total missing ratio:  0.0625
replacement value:  10.260666666666667
total missing ratio:  0.0625
replacement value:  13.026
total missing ratio:  0.0625
replacement value:  3.0
total missing ratio:  0.0625
replacement value:  1.424
total missing ratio:  0.0625
replacement value:  10.708
total missing ratio:  0.0625
replacement value:  0.764
total missing ratio:  0.0625
replacement value:  6.030666666666667
total missing ratio:  0.0625
replacement value:  3.8073333333333332
total missing ratio:  0.0625
replacement value:  0.18866666666666668
total missing ratio:  0.0625
replacement value:  2.6926666666666668
total missing ratio:  0.0625
replacement value:  10.473333333333333
total missing ratio:  0.0625
replacement value:  7.342
total missing ratio:  0.0625
replacement value:  0.608
total missing ratio:  0.0625
replacement value:  9.014666666666667
total missing ratio:  0.0625
replacement value:  1.0746666666666667
total missing ratio:  0.0625
replacement value:  1.4626666666666666
total missing ratio:  0.0625
replacement value:  9.552666666666669
total missing ratio:  0.0625
replacement value:  12.404666666666666
total missing ratio:  0.0625
replacement value:  7.8773333333333335
total missing ratio:  0.0625
replacement value:  2.134666666666667
total missing ratio:  0.0625
replacement value:  5.623333333333333
total missing ratio:  0.0625
replacement value:  11.628666666666668
total missing ratio:  0.0625
replacement value:  1.2686666666666668
total missing ratio:  0.0625
replacement value:  8.803333333333333
total missing ratio:  0.0625
replacement value:  8.843333333333334
total missing ratio:  0.0625
replacement value:  2.268666666666667
total missing ratio:  0.0625
replacement value:  0.16466666666666668
total missing ratio:  0.0625
replacement value:  2.2600000000000002
total missing ratio:  0.0625
replacement value:  7.406000000000001
total missing ratio:  0.0625
replacement value:  5.486
total missing ratio:  0.0625
replacement value:  3.042
total missing ratio:  0.0625
replacement value:  11.427333333333333
total missing ratio:  0.0625
replacement value:  7.466
total missing ratio:  0.0625
replacement value:  1.9419999999999997
total missing ratio:  0.0625
replacement value:  0.06866666666666667
total missing ratio:  0.0625
replacement value:  0.016
total missing ratio:  0.0625
replacement value:  0.13466666666666666
total missing ratio:  0.0625
replacement value:  12.654
total missing ratio:  0.0625
replacement value:  2.497333333333333
total missing ratio:  0.0625
replacement value:  8.266666666666667
total missing ratio:  0.0625
replacement value:  3.624
total missing ratio:  0.0625
replacement value:  7.040666666666667
total missing ratio:  0.0625
replacement value:  0.5173333333333333
total missing ratio:  0.0625
replacement value:  6.641333333333334
total missing ratio:  0.0625
replacement value:  1.602
total missing ratio:  0.0625
replacement value:  0.44066666666666676
total missing ratio:  0.0625
replacement value:  0.021333333333333333
total missing ratio:  0.0625
replacement value:  2.267333333333333
total missing ratio:  0.0625
replacement value:  3.5053333333333336
total missing ratio:  0.0625
replacement value:  8.864
total missing ratio:  0.0625
replacement value:  1.7853333333333334
total missing ratio:  0.0625
replacement value:  2.086666666666667
total missing ratio:  0.0625
replacement value:  3.258
total missing ratio:  0.0625
replacement value:  0.010000000000000002
total missing ratio:  0.0625
replacement value:  12.632666666666667
total missing ratio:  0.0625
replacement value:  11.921999999999999
total missing ratio:  0.0625
replacement value:  0.8200000000000001
total missing ratio:  0.0625
replacement value:  0.9193333333333332
total missing ratio:  0.0625
replacement value:  0.49066666666666664
total missing ratio:  0.0625
replacement value:  1.4073333333333333
total missing ratio:  0.0625
replacement value:  0.438
total missing ratio:  0.0625
replacement value:  7.13
total missing ratio:  0.0625
replacement value:  0.013333333333333334
total missing ratio:  0.0625
replacement value:  2.9066666666666667
total missing ratio:  0.0625
replacement value:  5.114000000000001
total missing ratio:  0.0625
replacement value:  2.1453333333333333
total missing ratio:  0.0625
replacement value:  2.354
total missing ratio:  0.125
replacement value:  2.584285714285714
total missing ratio:  0.0625
replacement value:  0.5186666666666667
total missing ratio:  0.0625
replacement value:  1.2659999999999998
total missing ratio:  0.0625
replacement value:  0.35133333333333333
total missing ratio:  0.0625
replacement value:  4.710666666666667
total missing ratio:  0.0625
replacement value:  0.19
total missing ratio:  0.0625
replacement value:  8.846666666666666
total missing ratio:  0.0625
replacement value:  3.5966666666666662
total missing ratio:  0.0625
replacement value:  0.09133333333333332
total missing ratio:  0.0625
replacement value:  8.646666666666667
total missing ratio:  0.0625
replacement value:  0.5346666666666666
total missing ratio:  0.0625
replacement value:  0.026000000000000002
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  6.212000000000001
total missing ratio:  0.0625
replacement value:  0.5806666666666668
total missing ratio:  0.0625
replacement value:  5.527333333333333
total missing ratio:  0.0625
replacement value:  4.278666666666667
total missing ratio:  0.0625
replacement value:  4.510666666666666
total missing ratio:  0.0625
replacement value:  9.998666666666669
total missing ratio:  0.0625
replacement value:  12.211333333333334
total missing ratio:  0.0625
replacement value:  1.0813333333333333
total missing ratio:  0.0625
replacement value:  8.855333333333334
total missing ratio:  0.0625
replacement value:  9.545333333333334
total missing ratio:  0.0625
replacement value:  8.968666666666667
total missing ratio:  0.0625
replacement value:  11.128000000000002
total missing ratio:  0.0625
replacement value:  5.636
total missing ratio:  0.0625
replacement value:  11.511333333333333
total missing ratio:  0.0625
replacement value:  6.11
total missing ratio:  0.0625
replacement value:  2.704
total missing ratio:  0.0625
replacement value:  4.191333333333334
total missing ratio:  0.0625
replacement value:  0.07466666666666667
total missing ratio:  0.0625
replacement value:  0.30933333333333335
total missing ratio:  0.0625
replacement value:  8.682666666666668
total missing ratio:  0.0625
replacement value:  6.201333333333334

total missing ratio:  0.0625
replacement value:  3.1546666666666665
total missing ratio:  0.0625
replacement value:  10.754666666666667
total missing ratio:  0.0625
replacement value:  0.8006666666666665
total missing ratio:  0.0625
replacement value:  0.010000000000000002
total missing ratio:  0.0625
replacement value:  7.588666666666667
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  10.024000000000001
total missing ratio:  0.0625
replacement value:  2.096
total missing ratio:  0.0625
replacement value:  1.4579999999999997
total missing ratio:  0.0625
replacement value:  4.983999999999999
total missing ratio:  0.0625
replacement value:  4.463333333333334
total missing ratio:  0.0625
replacement value:  6.926666666666667
total missing ratio:  0.0625
replacement value:  10.338
total missing ratio:  0.0625
replacement value:  0.8046666666666666
total missing ratio:  0.0625
replacement value:  0.33066666666666666
total missing ratio:  0.0625
replacement value:  6.131333333333333
total missing ratio:  0.0625
replacement value:  1.8586666666666667
total missing ratio:  0.0625
replacement value:  0.2353333333333333
total missing ratio:  0.0625
replacement value:  0.9473333333333332
total missing ratio:  0.0625
replacement value:  1.1673333333333331
total missing ratio:  0.0625
replacement value:  6.044666666666667
total missing ratio:  0.0625
replacement value:  1.3106666666666666
total missing ratio:  0.0625
replacement value:  1.4213333333333333
total missing ratio:  0.0625
replacement value:  2.6546666666666665
total missing ratio:  0.0625
replacement value:  8.050666666666666
total missing ratio:  0.0625
replacement value:  7.369333333333333
total missing ratio:  0.0625
replacement value:  1.75
total missing ratio:  0.0625
replacement value:  3.582666666666667
total missing ratio:  0.0625
replacement value:  8.579333333333334
total missing ratio:  0.0625
replacement value:  6.172666666666667
total missing ratio:  0.0625
replacement value:  1.608666666666667
total missing ratio:  0.0625
replacement value:  0.8066666666666665
total missing ratio:  0.0625
replacement value:  7.419999999999999
total missing ratio:  0.0625
replacement value:  3.0873333333333335
total missing ratio:  0.0625
replacement value:  0.04733333333333334
total missing ratio:  0.0625
replacement value:  2.2393333333333336
total missing ratio:  0.0625
replacement value:  4.481999999999999
total missing ratio:  0.25
replacement value:  78.0
total missing ratio:  0.0625
replacement value:  63.93333333333333
total missing ratio:  0.4375
replacement value:  70.22222222222223
total missing ratio:  0.0625
replacement value:  98.26666666666667
total missing ratio:  0.125
replacement value:  81.28571428571429
total missing ratio:  0.0625
replacement value:  93.4
total missing ratio:  0.125
replacement value:  59.214285714285715
total missing ratio:  0.0625
replacement value:  83.6
total missing ratio:  0.1875
replacement value:  77.61538461538461
total missing ratio:  0.0625
replacement value:  84.06666666666666
total missing ratio:  0.125
replacement value:  62.57142857142857
total missing ratio:  0.25
replacement value:  71.66666666666667
total missing ratio:  0.375
replacement value:  81.1
total missing ratio:  0.25
replacement value:  93.33333333333333
total missing ratio:  0.125
replacement value:  80.64285714285714
total missing ratio:  0.375
replacement value:  79.6
total missing ratio:  0.3125
replacement value:  76.81818181818181
total missing ratio:  0.1875
replacement value:  28.846153846153847
total missing ratio:  0.5625
replacement value:  42.57142857142857
total missing ratio:  0.5
replacement value:  29.875
total missing ratio:  0.375
replacement value:  77.2
total missing ratio:  0.1875
replacement value:  76.46153846153847
total missing ratio:  0.4375
replacement value:  50.77777777777778
total missing ratio:  0.4375
replacement value:  96.22222222222223
total missing ratio:  0.125
replacement value:  97.28571428571429
total missing ratio:  0.1875
replacement value:  88.84615384615384
total missing ratio:  0.4375
replacement value:  51.333333333333336
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.4375
replacement value:  78.0
total missing ratio:  0.875
replacement value:  9.0
total missing ratio:  0.125
replacement value:  86.42857142857143
total missing ratio:  0.25
replacement value:  86.83333333333333
total missing ratio:  0.4375
replacement value:  64.11111111111111
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.3125
replacement value:  57.63636363636363
total missing ratio:  0.125
replacement value:  67.5
total missing ratio:  0.0625
replacement value:  95.46666666666667
total missing ratio:  0.3125
replacement value:  87.0909090909091
total missing ratio:  0.4375
replacement value:  58.666666666666664
total missing ratio:  0.5625
replacement value:  75.0
total missing ratio:  0.0625
replacement value:  88.2
total missing ratio:  0.8125
replacement value:  40.666666666666664
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.25
replacement value:  35.0
total missing ratio:  0.625
replacement value:  86.83333333333333
total missing ratio:  0.1875
replacement value:  83.15384615384616
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.125
replacement value:  74.57142857142857
total missing ratio:  0.1875
replacement value:  60.30769230769231
total missing ratio:  0.1875
replacement value:  73.23076923076923
total missing ratio:  0.5
replacement value:  49.125
total missing ratio:  0.125
replacement value:  63.357142857142854
total missing ratio:  0.125
replacement value:  89.57142857142857
total missing ratio:  0.1875
replacement value:  67.15384615384616
total missing ratio:  0.1875
replacement value:  80.53846153846153
total missing ratio:  0.3125
replacement value:  57.63636363636363
total missing ratio:  0.375
replacement value:  48.5
total missing ratio:  0.0625
replacement value:  67.86666666666666
total missing ratio:  0.1875
replacement value:  65.46153846153847
total missing ratio:  0.625
replacement value:  86.33333333333333
total missing ratio:  0.1875
replacement value:  65.38461538461539
total missing ratio:  0.6875
replacement value:  48.2
total missing ratio:  0.5625
replacement value:  60.57142857142857
total missing ratio:  0.3125
replacement value:  42.90909090909091
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.1875
replacement value:  67.3076923076923
total missing ratio:  0.0625
replacement value:  78.66666666666667
total missing ratio:  0.1875
replacement value:  82.15384615384616
total missing ratio:  0.1875
replacement value:  83.6923076923077
total missing ratio:  0.0625
replacement value:  92.33333333333333
total missing ratio:  0.125
replacement value:  96.0
total missing ratio:  0.125
replacement value:  89.28571428571429
total missing ratio:  0.1875
replacement value:  93.0
total missing ratio:  0.1875
replacement value:  83.3076923076923
total missing ratio:  0.25
replacement value:  86.41666666666667
total missing ratio:  0.25
replacement value:  90.75
total missing ratio:  0.4375
replacement value:  83.44444444444444
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.8125
replacement value:  42.0
total missing ratio:  0.9375
replacement value:  31.0
total missing ratio:  0.1875
replacement value:  90.61538461538461
total missing ratio:  0.3125
replacement value:  72.36363636363636
total missing ratio:  0.3125
replacement value:  85.27272727272727
total missing ratio:  0.6875
replacement value:  59.2
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.125
replacement value:  84.42857142857143
total missing ratio:  0.3125
replacement value:  83.54545454545455
total missing ratio:  0.5
replacement value:  76.0
total missing ratio:  0.5
replacement value:  76.625
total missing ratio:  0.125
replacement value:  54.92857142857143
total missing ratio:  0.125
replacement value:  97.28571428571429
total missing ratio:  0.125
replacement value:  63.42857142857143
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.125
replacement value:  73.5
total missing ratio:  0.125
replacement value:  95.64285714285714
total missing ratio:  0.1875
replacement value:  87.53846153846153
total missing ratio:  0.3125
replacement value:  69.81818181818181
total missing ratio:  1.0
replacement value:  nan

total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.375
replacement value:  84.3
total missing ratio:  0.6875
replacement value:  44.0
total missing ratio:  0.125
replacement value:  63.214285714285715
total missing ratio:  0.0625
replacement value:  4.604
total missing ratio:  0.0625
replacement value:  5.723333333333333
total missing ratio:  0.0625
replacement value:  3.919333333333333
total missing ratio:  0.0625
replacement value:  4.791333333333332
total missing ratio:  0.0625
replacement value:  6.9126666666666665
total missing ratio:  0.0625
replacement value:  4.8613333333333335
total missing ratio:  0.0625
replacement value:  8.836666666666668
total missing ratio:  0.0625
replacement value:  4.715333333333333
total missing ratio:  0.0625
replacement value:  5.679333333333333
total missing ratio:  0.0625
replacement value:  6.706
total missing ratio:  0.0625
replacement value:  3.8073333333333332
total missing ratio:  0.0625
replacement value:  2.8546666666666667
total missing ratio:  0.0625
replacement value:  6.122
total missing ratio:  0.0625
replacement value:  6.191999999999999
total missing ratio:  0.0625
replacement value:  5.962000000000001
total missing ratio:  0.0625
replacement value:  5.039333333333333
total missing ratio:  0.0625
replacement value:  4.635999999999999
total missing ratio:  0.0625
replacement value:  5.346
total missing ratio:  0.0625
replacement value:  5.626
total missing ratio:  0.0625
replacement value:  8.741999999999999
total missing ratio:  0.0625
replacement value:  5.510666666666666
total missing ratio:  0.0625
replacement value:  8.019333333333332
total missing ratio:  0.0625
replacement value:  2.8200000000000003
total missing ratio:  0.0625
replacement value:  7.236000000000001
total missing ratio:  0.0625
replacement value:  6.038
total missing ratio:  0.0625
replacement value:  7.089333333333333
total missing ratio:  0.0625
replacement value:  4.755333333333334
total missing ratio:  0.0625
replacement value:  5.740666666666667
total missing ratio:  0.0625
replacement value:  4.719333333333333
total missing ratio:  0.0625
replacement value:  7.0520000000000005
total missing ratio:  0.0625
replacement value:  4.039333333333333
total missing ratio:  0.0625
replacement value:  4.379333333333333
total missing ratio:  0.0625
replacement value:  6.911333333333332
total missing ratio:  0.0625
replacement value:  4.918
total missing ratio:  0.0625
replacement value:  6.34
total missing ratio:  0.0625
replacement value:  4.831999999999999
total missing ratio:  0.0625
replacement value:  2.9866666666666664
total missing ratio:  0.0625
replacement value:  8.62
total missing ratio:  0.0625
replacement value:  7.370666666666667
total missing ratio:  0.0625
replacement value:  6.428666666666667
total missing ratio:  0.0625
replacement value:  6.760000000000001
total missing ratio:  0.0625
replacement value:  7.05
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  3.558666666666667
total missing ratio:  0.0625
replacement value:  7.822666666666667
total missing ratio:  0.0625
replacement value:  7.070666666666667
total missing ratio:  0.0625
replacement value:  4.681333333333333
total missing ratio:  0.0625
replacement value:  5.879999999999999
total missing ratio:  0.0625
replacement value:  5.346
total missing ratio:  0.0625
replacement value:  7.1033333333333335
total missing ratio:  0.0625
replacement value:  7.376
total missing ratio:  0.0625
replacement value:  2.929333333333333
total missing ratio:  0.0625
replacement value:  3.4686666666666666
total missing ratio:  0.0625
replacement value:  5.687333333333333
total missing ratio:  0.0625
replacement value:  4.901333333333334
total missing ratio:  0.0625
replacement value:  3.8973333333333335
total missing ratio:  0.0625
replacement value:  8.614
total missing ratio:  0.0625
replacement value:  6.556
total missing ratio:  0.0625
replacement value:  3.175333333333333
total missing ratio:  0.0625
replacement value:  5.308666666666666
total missing ratio:  0.0625
replacement value:  7.3306666666666676
total missing ratio:  0.0625
replacement value:  4.073333333333333
total missing ratio:  0.0625
replacement value:  4.328666666666667
total missing ratio:  0.0625
replacement value:  9.038666666666666
total missing ratio:  0.0625
replacement value:  6.188666666666666
total missing ratio:  0.0625
replacement value:  6.593999999999999
total missing ratio:  0.0625
replacement value:  4.009333333333333
total missing ratio:  0.0625
replacement value:  5.870666666666667
total missing ratio:  0.0625
replacement value:  6.084
total missing ratio:  0.0625
replacement value:  6.183333333333334
total missing ratio:  0.0625
replacement value:  8.147333333333334
total missing ratio:  0.0625
replacement value:  7.768666666666666
total missing ratio:  0.0625
replacement value:  8.546
total missing ratio:  0.0625
replacement value:  4.358666666666666
total missing ratio:  0.0625
replacement value:  2.6633333333333336
total missing ratio:  0.0625
replacement value:  6.29
total missing ratio:  0.25
replacement value:  4.435833333333333
total missing ratio:  0.0625
replacement value:  7.728666666666667
total missing ratio:  0.0625
replacement value:  7.478666666666667
total missing ratio:  0.0625
replacement value:  8.777333333333333
total missing ratio:  0.0625
replacement value:  5.144
total missing ratio:  0.0625
replacement value:  6.472666666666667
total missing ratio:  0.0625
replacement value:  8.781333333333333
total missing ratio:  0.0625
replacement value:  4.019333333333333
total missing ratio:  0.0625
replacement value:  4.668666666666667
total missing ratio:  0.0625
replacement value:  5.728
total missing ratio:  0.0625
replacement value:  2.8093333333333335
total missing ratio:  0.0625
replacement value:  6.118666666666667
total missing ratio:  0.0625
replacement value:  3.444
total missing ratio:  0.0625
replacement value:  6.331333333333333
total missing ratio:  0.0625
replacement value:  6.6706666666666665
total missing ratio:  0.0625
replacement value:  7.607333333333333
total missing ratio:  0.0625
replacement value:  6.843999999999999
total missing ratio:  0.0625
replacement value:  3.728
total missing ratio:  0.0625
replacement value:  6.5473333333333334
total missing ratio:  0.0625
replacement value:  7.5473333333333334
total missing ratio:  0.0625
replacement value:  4.710666666666667
total missing ratio:  0.0625
replacement value:  6.658666666666667
total missing ratio:  0.0625
replacement value:  3.7486666666666664
total missing ratio:  0.0625
replacement value:  8.236666666666668
total missing ratio:  0.0625
replacement value:  6.522666666666667
total missing ratio:  0.0625
replacement value:  8.596666666666666
total missing ratio:  0.0625
replacement value:  3.9353333333333333
total missing ratio:  0.0625
replacement value:  4.524666666666667
total missing ratio:  0.0625
replacement value:  6.074
total missing ratio:  0.0625
replacement value:  11.056000000000003
total missing ratio:  0.0625
replacement value:  5.180666666666667
total missing ratio:  0.0625
replacement value:  7.4193333333333324
total missing ratio:  0.0625
replacement value:  5.442666666666667
total missing ratio:  0.0625
replacement value:  5.972666666666667
total missing ratio:  0.0625
replacement value:  2.0126666666666666
total missing ratio:  0.0625
replacement value:  7.398666666666666
total missing ratio:  0.0625
replacement value:  5.889333333333334
total missing ratio:  0.0625
replacement value:  7.141333333333334
total missing ratio:  0.0625
replacement value:  8.876000000000001
total missing ratio:  0.0625
replacement value:  6.730666666666667
total missing ratio:  0.0625
replacement value:  6.577333333333333
total missing ratio:  0.0625
replacement value:  3.710666666666667
total missing ratio:  0.0625
replacement value:  9.086000000000002
total missing ratio:  0.0625
replacement value:  2.8766666666666665
total missing ratio:  0.0625
replacement value:  2.9040000000000004
total missing ratio:  0.0625

replacement value:  7.7219999999999995
total missing ratio:  0.0625
replacement value:  5.462666666666666
total missing ratio:  0.0625
replacement value:  6.778666666666667
total missing ratio:  0.0625
replacement value:  4.926666666666667
total missing ratio:  0.0625
replacement value:  3.905333333333333
total missing ratio:  0.0625
replacement value:  6.379333333333333
total missing ratio:  0.0625
replacement value:  7.952666666666667
total missing ratio:  0.0625
replacement value:  2.6013333333333337
total missing ratio:  0.0625
replacement value:  5.912
total missing ratio:  0.0625
replacement value:  6.956666666666666
total missing ratio:  0.0625
replacement value:  5.2780000000000005
total missing ratio:  0.0625
replacement value:  6.223333333333333
total missing ratio:  0.0625
replacement value:  6.350666666666666
total missing ratio:  0.0625
replacement value:  6.922666666666667
total missing ratio:  0.0625
replacement value:  4.816
total missing ratio:  0.0625
replacement value:  5.325333333333333
total missing ratio:  0.0625
replacement value:  6.585999999999999
total missing ratio:  0.0625
replacement value:  3.9246666666666665
total missing ratio:  0.0625
replacement value:  4.938
total missing ratio:  0.0625
replacement value:  6.198666666666667
total missing ratio:  0.0625
replacement value:  3.802
total missing ratio:  0.0625
replacement value:  9.218
total missing ratio:  0.0625
replacement value:  3.6879999999999997
total missing ratio:  0.0625
replacement value:  8.855333333333332
total missing ratio:  0.0625
replacement value:  6.267333333333334
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  8.306000000000001
total missing ratio:  0.8125
replacement value:  2.7100000000000004
total missing ratio:  0.0625
replacement value:  8.536666666666667
total missing ratio:  0.0625
replacement value:  3.771333333333333
total missing ratio:  0.0625
replacement value:  5.695333333333333
total missing ratio:  0.0625
replacement value:  6.6626666666666665
total missing ratio:  0.0625
replacement value:  7.308666666666666
total missing ratio:  0.0625
replacement value:  9.932666666666666
total missing ratio:  0.0625
replacement value:  6.0873333333333335
total missing ratio:  0.0625
replacement value:  3.9466666666666668
total missing ratio:  0.0625
replacement value:  5.648
total missing ratio:  0.0625
replacement value:  3.7573333333333334
total missing ratio:  0.0625
replacement value:  7.5360000000000005
total missing ratio:  0.0625
replacement value:  1.6466666666666667
total missing ratio:  0.0625
replacement value:  5.243333333333334
total missing ratio:  0.0625
replacement value:  5.206
total missing ratio:  0.0625
replacement value:  5.199333333333334
total missing ratio:  0.0625
replacement value:  6.052666666666667
total missing ratio:  0.0625
replacement value:  5.617999999999999
total missing ratio:  0.0625
replacement value:  2.8286666666666664
total missing ratio:  0.0625
replacement value:  8.542
total missing ratio:  0.0625
replacement value:  6.777333333333333
total missing ratio:  0.0625
replacement value:  3.0366666666666666
total missing ratio:  0.0625
replacement value:  8.533999999999999
total missing ratio:  0.0625
replacement value:  4.701333333333334
total missing ratio:  0.0625
replacement value:  15.863333333333333
total missing ratio:  0.0625
replacement value:  8.75
total missing ratio:  0.0625
replacement value:  5.638000000000001
total missing ratio:  0.0625
replacement value:  3.9286666666666665
total missing ratio:  0.0625
replacement value:  4.998666666666666
total missing ratio:  0.0625
replacement value:  5.977333333333333
total missing ratio:  0.0625
replacement value:  5.0053333333333345
total missing ratio:  0.0625
replacement value:  5.824000000000001
total missing ratio:  0.0625
replacement value:  6.158666666666666
total missing ratio:  0.375
replacement value:  84.5
total missing ratio:  0.6875
replacement value:  47.0
total missing ratio:  0.125
replacement value:  64.21428571428571
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.25
replacement value:  259.3953562916667
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.25
replacement value:  3542.55753725
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.25
replacement value:  4598.161975416667
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  758.0976163466668
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.0625
replacement value:  771.0348342533332
total missing ratio:  0.8125
replacement value:  297.47334513333334
total missing ratio:  0.5
replacement value:  1092.233630625
total missing ratio:  0.5
replacement value:  1087.435773875
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  0.25
replacement value:  2071919.3333333333
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan

total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan
total missing ratio:  1.0
replacement value:  nan

In [9]:
# find the problematic country/column pairs
le3 = lifeexpectancy_df.copy()
for col in cols_with_null:
    for country in countries:
        missing_number = le3.loc[le3["Country"] == country, col].isnull().sum()
        if missing_number>0:
            print("column name: {}, country name: {}".format(col, country))
            print("total missing ratio: ", missing_number/le3.loc[le3["Country"] == country, col].shape[0])
            print("replacement value: ", le3[le3["Country"] == country][col].mean())

column name: Life expectancy , country name: Cook Islands
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Dominica
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Marshall Islands
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Nauru
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Niue
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Palau
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Saint Kitts and Nevis
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name: Life expectancy , country name: Tuvalu
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Cook Islands
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Dominica
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Marshall Islands
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Nauru
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Niue
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Palau
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Saint Kitts and Nevis
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name: Adult Mortality, country name: Tuvalu
total missing ratio:  1.0
replacement value:  nan
column name: Alcohol, country name: Algeria
total missing ratio:  0.0625
replacement value:  0.4066666666666667
column name: Alcohol, country name: CÃ´te d'Ivoire
total missing ratio:  0.0625
replacement value:  2.8373333333333335
column name: Alcohol, country name: Angola
total missing ratio:  0.0625
replacement value:  5.740666666666667
column name: Alcohol, country name: Antigua and Barbuda
total missing ratio:  0.0625
replacement value:  7.949333333333334
column name: Alcohol, country name: Argentina
total missing ratio:  0.0625
replacement value:  7.966666666666667
column name: Alcohol, country name: Armenia
total missing ratio:  0.0625
replacement value:  3.7026666666666666
column name: Alcohol, country name: Australia
total missing ratio:  0.0625
replacement value:  10.155333333333335
column name: Alcohol, country name: Austria
total missing ratio:  0.0625
replacement value:  12.236
column name: Alcohol, country name: Azerbaijan
total missing ratio:  0.0625
replacement value:  0.9919999999999999
column name: Alcohol, country name: Bahamas
total missing ratio:  0.0625
replacement value:  10.271333333333333
column name: Alcohol, country name: Bahrain
total missing ratio:  0.0625
replacement value:  1.934666666666667
column name: Alcohol, country name: Bangladesh
total missing ratio:  0.0625
replacement value:  0.010000000000000002
column name: Alcohol, country name: Barbados
total missing ratio:  0.0625
replacement value:  8.206666666666667
column name: Alcohol, country name: Belarus
total missing ratio:  0.0625
replacement value:  13.497333333333334
column name: Alcohol, country name: Belgium
total missing ratio:  0.0625
replacement value:  11.042666666666666
column name: Alcohol, country name: Belize
total missing ratio:  0.0625
replacement value:  6.252666666666666
column name: Alcohol, country name: Benin
total missing ratio:  0.0625
replacement value:  1.0
column name: Alcohol, country name: Bhutan
total missing ratio:  0.0625
replacement value:  0.2786666666666667
column name: Alcohol, country name: Bolivia (Plurinational State of)
total missing ratio:  0.0625
replacement value:  3.2120000000000006
column name: Alcohol, country name: Bosnia and Herzegovina
total missing ratio:  0.0625
replacement value:  4.405333333333333
column name: Alcohol, country name: Botswana
total missing ratio:  0.0625
replacement value:  4.670000000000001
column name: Alcohol, country name: Brazil
total missing ratio:  0.0625
replacement value:  7.213333333333334
column name: Alcohol, country name: Brunei Darussalam
total missing ratio:  0.0625
replacement value:  0.37866666666666665
column name: Alcohol, country name: Bulgaria
total missing ratio:  0.0625
replacement value:  10.865333333333334
column name: Alcohol, country name: Burkina Faso
total missing ratio:  0.0625
replacement value:  4.241333333333333
column name: Alcohol, country name: Burundi
total missing ratio:  0.0625
replacement value:  4.1033333333333335
column name: Alcohol, country name: Cabo Verde
total missing ratio:  0.0625
replacement value:  3.448
column name: Alcohol, country name: Cambodia
total missing ratio:  0.0625
replacement value:  1.486
column name: Alcohol, country name: Cameroon
total missing ratio:  0.0625
replacement value:  4.141333333333334
column name: Alcohol, country name: Canada
total missing ratio:  0.0625
replacement value:  8.053333333333333
column name: Alcohol, country name: Central African Republic
total missing ratio:  0.0625
replacement value:  1.2313333333333332
column name: Alcohol, country name: Chad
total missing ratio:  0.0625
replacement value:  0.41133333333333333
column name: Alcohol, country name: Chile
total missing ratio:  0.0625
replacement value:  6.978
column name: Alcohol, country name: China
total missing ratio:  0.0625
replacement value:  4.182
column name: Alcohol, country name: Colombia
total missing ratio:  0.0625
replacement value:  4.419333333333333
column name: Alcohol, country name: Comoros
total missing ratio:  0.0625
replacement value:  0.13466666666666666
column name: Alcohol, country name: Congo
total missing ratio:  0.0625
replacement value:  2.1733333333333333
column name: Alcohol, country name: Costa Rica
total missing ratio:  0.0625
replacement value:  3.9246666666666665
column name: Alcohol, country name: Croatia
total missing ratio:  0.0625
replacement value:  12.448
column name: Alcohol, country name: Cuba
total missing ratio:  0.0625
replacement value:  4.190666666666666
column name: Alcohol, country name: Cyprus
total missing ratio:  0.0625
replacement value:  10.260666666666667
column name: Alcohol, country name: Czechia
total missing ratio:  0.0625
replacement value:  13.026
column name: Alcohol, country name: Democratic People's Republic of Korea
total missing ratio:  0.0625
replacement value:  3.0
column name: Alcohol, country name: Democratic Republic of the Congo
total missing ratio:  0.0625
replacement value:  1.424
column name: Alcohol, country name: Denmark
total missing ratio:  0.0625
replacement value:  10.708
column name: Alcohol, country name: Djibouti
total missing ratio:  0.0625
replacement value:  0.764
column name: Alcohol, country name: Dominican Republic
total missing ratio:  0.0625
replacement value:  6.030666666666667
column name: Alcohol, country name: Ecuador
total missing ratio:  0.0625
replacement value:  3.8073333333333332
column name: Alcohol, country name: Egypt
total missing ratio:  0.0625
replacement value:  0.18866666666666668
column name: Alcohol, country name: El Salvador
total missing ratio:  0.0625
replacement value:  2.6926666666666668
column name: Alcohol, country name: Slovakia
total missing ratio:  0.0625
replacement value:  10.473333333333333
column name: Alcohol, country name: Equatorial Guinea
total missing ratio:  0.0625
replacement value:  7.342
column name: Alcohol, country name: Eritrea
total missing ratio:  0.0625
replacement value:  0.608
column name: Alcohol, country name: Estonia
total missing ratio:  0.0625
replacement value:  9.014666666666667
column name: Alcohol, country name: Ethiopia
total missing ratio:  0.0625
replacement value:  1.0746666666666667
column name: Alcohol, country name: Fiji
total missing ratio:  0.0625
replacement value:  1.4626666666666666
column name: Alcohol, country name: Finland
total missing ratio:  0.0625
replacement value:  9.552666666666669
column name: Alcohol, country name: France
total missing ratio:  0.0625
replacement value:  12.404666666666666
column name: Alcohol, country name: Gabon
total missing ratio:  0.0625
replacement value:  7.8773333333333335
column name: Alcohol, country name: Gambia
total missing ratio:  0.0625
replacement value:  2.134666666666667
column name: Alcohol, country name: Georgia
total missing ratio:  0.0625
replacement value:  5.623333333333333
column name: Alcohol, country name: Germany
total missing ratio:  0.0625
replacement value:  11.628666666666668
column name: Alcohol, country name: Ghana
total missing ratio:  0.0625
replacement value:  1.2686666666666668
column name: Alcohol, country name: Greece
total missing ratio:  0.0625
replacement value:  8.803333333333333
column name: Alcohol, country name: Grenada
total missing ratio:  0.0625
replacement value:  8.843333333333334
column name: Alcohol, country name: Guatemala
total missing ratio:  0.0625
replacement value:  2.268666666666667
column name: Alcohol, country name: Guinea
total missing ratio:  0.0625
replacement value:  0.16466666666666668
column name: Alcohol, country name: Guinea-Bissau
total missing ratio:  0.0625
replacement value:  2.2600000000000002
column name: Alcohol, country name: Guyana
total missing ratio:  0.0625
replacement value:  7.406000000000001
column name: Alcohol, country name: Haiti
total missing ratio:  0.0625
replacement value:  5.486
column name: Alcohol, country name: Honduras
total missing ratio:  0.0625
replacement value:  3.042
column name: Alcohol, country name: Hungary
total missing ratio:  0.0625
replacement value:  11.427333333333333
column name: Alcohol, country name: Iceland
total missing ratio:  0.0625
replacement value:  7.466
column name: Alcohol, country name: India
total missing ratio:  0.0625
replacement value:  1.9419999999999997

column name: Alcohol, country name: Indonesia
total missing ratio:  0.0625
replacement value:  0.06866666666666667
column name: Alcohol, country name: Iran (Islamic Republic of)
total missing ratio:  0.0625
replacement value:  0.016
column name: Alcohol, country name: Iraq
total missing ratio:  0.0625
replacement value:  0.13466666666666666
column name: Alcohol, country name: Ireland
total missing ratio:  0.0625
replacement value:  12.654
column name: Alcohol, country name: Israel
total missing ratio:  0.0625
replacement value:  2.497333333333333
column name: Alcohol, country name: Italy
total missing ratio:  0.0625
replacement value:  8.266666666666667
column name: Alcohol, country name: Jamaica
total missing ratio:  0.0625
replacement value:  3.624
column name: Alcohol, country name: Japan
total missing ratio:  0.0625
replacement value:  7.040666666666667
column name: Alcohol, country name: Jordan
total missing ratio:  0.0625
replacement value:  0.5173333333333333
column name: Alcohol, country name: Kazakhstan
total missing ratio:  0.0625
replacement value:  6.641333333333334
column name: Alcohol, country name: Kenya
total missing ratio:  0.0625
replacement value:  1.602
column name: Alcohol, country name: Kiribati
total missing ratio:  0.0625
replacement value:  0.44066666666666676
column name: Alcohol, country name: Kuwait
total missing ratio:  0.0625
replacement value:  0.021333333333333333
column name: Alcohol, country name: Kyrgyzstan
total missing ratio:  0.0625
replacement value:  2.267333333333333
column name: Alcohol, country name: Lao People's Democratic Republic
total missing ratio:  0.0625
replacement value:  3.5053333333333336
column name: Alcohol, country name: Latvia
total missing ratio:  0.0625
replacement value:  8.864
column name: Alcohol, country name: Lebanon
total missing ratio:  0.0625
replacement value:  1.7853333333333334
column name: Alcohol, country name: Lesotho
total missing ratio:  0.0625
replacement value:  2.086666666666667
column name: Alcohol, country name: Liberia
total missing ratio:  0.0625
replacement value:  3.258
column name: Alcohol, country name: Libya
total missing ratio:  0.0625
replacement value:  0.010000000000000002
column name: Alcohol, country name: Lithuania
total missing ratio:  0.0625
replacement value:  12.632666666666667
column name: Alcohol, country name: Luxembourg
total missing ratio:  0.0625
replacement value:  11.921999999999999
column name: Alcohol, country name: Madagascar
total missing ratio:  0.0625
replacement value:  0.8200000000000001
column name: Alcohol, country name: Malawi
total missing ratio:  0.0625
replacement value:  0.9193333333333332
column name: Alcohol, country name: Malaysia
total missing ratio:  0.0625
replacement value:  0.49066666666666664
column name: Alcohol, country name: Maldives
total missing ratio:  0.0625
replacement value:  1.4073333333333333
column name: Alcohol, country name: Mali
total missing ratio:  0.0625
replacement value:  0.438
column name: Alcohol, country name: Malta
total missing ratio:  0.0625
replacement value:  7.13
column name: Alcohol, country name: Mauritania
total missing ratio:  0.0625
replacement value:  0.013333333333333334
column name: Alcohol, country name: Mauritius
total missing ratio:  0.0625
replacement value:  2.9066666666666667
column name: Alcohol, country name: Mexico
total missing ratio:  0.0625
replacement value:  5.114000000000001
column name: Alcohol, country name: Micronesia (Federated States of)
total missing ratio:  0.0625
replacement value:  2.1453333333333333
column name: Alcohol, country name: Mongolia
total missing ratio:  0.0625
replacement value:  2.354
column name: Alcohol, country name: Montenegro
total missing ratio:  0.125
replacement value:  2.584285714285714
column name: Alcohol, country name: Morocco
total missing ratio:  0.0625
replacement value:  0.5186666666666667
column name: Alcohol, country name: Mozambique
total missing ratio:  0.0625
replacement value:  1.2659999999999998
column name: Alcohol, country name: Myanmar
total missing ratio:  0.0625
replacement value:  0.35133333333333333
column name: Alcohol, country name: Namibia
total missing ratio:  0.0625
replacement value:  4.710666666666667
column name: Alcohol, country name: Nepal
total missing ratio:  0.0625
replacement value:  0.19
column name: Alcohol, country name: Netherlands
total missing ratio:  0.0625
replacement value:  8.846666666666666
column name: Alcohol, country name: Nicaragua
total missing ratio:  0.0625
replacement value:  3.5966666666666662
column name: Alcohol, country name: Niger
total missing ratio:  0.0625
replacement value:  0.09133333333333332
column name: Alcohol, country name: Nigeria
total missing ratio:  0.0625
replacement value:  8.646666666666667
column name: Alcohol, country name: Oman
total missing ratio:  0.0625
replacement value:  0.5346666666666666
column name: Alcohol, country name: Pakistan
total missing ratio:  0.0625
replacement value:  0.026000000000000002
column name: Alcohol, country name: Palau
total missing ratio:  1.0
replacement value:  nan
column name: Alcohol, country name: Panama
total missing ratio:  0.0625
replacement value:  6.212000000000001
column name: Alcohol, country name: Papua New Guinea
total missing ratio:  0.0625
replacement value:  0.5806666666666668
column name: Alcohol, country name: Paraguay
total missing ratio:  0.0625
replacement value:  5.527333333333333
column name: Alcohol, country name: Peru
total missing ratio:  0.0625
replacement value:  4.278666666666667
column name: Alcohol, country name: Philippines
total missing ratio:  0.0625
replacement value:  4.510666666666666
column name: Alcohol, country name: Poland
total missing ratio:  0.0625
replacement value:  9.998666666666669
column name: Alcohol, country name: Portugal
total missing ratio:  0.0625
replacement value:  12.211333333333334
column name: Alcohol, country name: Qatar
total missing ratio:  0.0625
replacement value:  1.0813333333333333
column name: Alcohol, country name: Republic of Korea
total missing ratio:  0.0625
replacement value:  8.855333333333334
column name: Alcohol, country name: Republic of Moldova
total missing ratio:  0.0625
replacement value:  9.545333333333334
column name: Alcohol, country name: Romania
total missing ratio:  0.0625
replacement value:  8.968666666666667
column name: Alcohol, country name: Russian Federation
total missing ratio:  0.0625
replacement value:  11.128000000000002
column name: Alcohol, country name: Rwanda
total missing ratio:  0.0625
replacement value:  5.636
column name: Alcohol, country name: Saint Lucia
total missing ratio:  0.0625
replacement value:  11.511333333333333
column name: Alcohol, country name: Saint Vincent and the Grenadines
total missing ratio:  0.0625
replacement value:  6.11
column name: Alcohol, country name: Samoa
total missing ratio:  0.0625
replacement value:  2.704
column name: Alcohol, country name: Sao Tome and Principe
total missing ratio:  0.0625
replacement value:  4.191333333333334
column name: Alcohol, country name: Saudi Arabia
total missing ratio:  0.0625
replacement value:  0.07466666666666667
column name: Alcohol, country name: Senegal
total missing ratio:  0.0625
replacement value:  0.30933333333333335
column name: Alcohol, country name: Serbia
total missing ratio:  0.0625
replacement value:  8.682666666666668
column name: Alcohol, country name: Seychelles
total missing ratio:  0.0625
replacement value:  6.201333333333334
column name: Alcohol, country name: Sierra Leone
total missing ratio:  0.0625
replacement value:  3.1546666666666665
column name: Alcohol, country name: Slovenia
total missing ratio:  0.0625
replacement value:  10.754666666666667
column name: Alcohol, country name: Solomon Islands
total missing ratio:  0.0625
replacement value:  0.8006666666666665
column name: Alcohol, country name: Somalia
total missing ratio:  0.0625
replacement value:  0.010000000000000002
column name: Alcohol, country name: South Africa
total missing ratio:  0.0625
replacement value:  7.588666666666667
column name: Alcohol, country name: South Sudan
total missing ratio:  1.0
replacement value:  nan
column name: Alcohol, country name: Spain
total missing ratio:  0.0625
replacement value:  10.024000000000001
column name: Alcohol, country name: Sri Lanka
total missing ratio:  0.0625
replacement value:  2.096
column name: Alcohol, country name: Sudan
total missing ratio:  0.0625
replacement value:  1.4579999999999997
column name: Alcohol, country name: Suriname
total missing ratio:  0.0625
replacement value:  4.983999999999999
column name: Alcohol, country name: Swaziland
total missing ratio:  0.0625
replacement value:  4.463333333333334
column name: Alcohol, country name: Sweden
total missing ratio:  0.0625
replacement value:  6.926666666666667
column name: Alcohol, country name: Switzerland
total missing ratio:  0.0625
replacement value:  10.338
column name: Alcohol, country name: Syrian Arab Republic
total missing ratio:  0.0625
replacement value:  0.8046666666666666
column name: Alcohol, country name: Tajikistan
total missing ratio:  0.0625
replacement value:  0.33066666666666666
column name: Alcohol, country name: Thailand
total missing ratio:  0.0625
replacement value:  6.131333333333333
column name: Alcohol, country name: The former Yugoslav republic of Macedonia
total missing ratio:  0.0625
replacement value:  1.8586666666666667
column name: Alcohol, country name: Timor-Leste
total missing ratio:  0.0625
replacement value:  0.2353333333333333
column name: Alcohol, country name: Togo
total missing ratio:  0.0625
replacement value:  0.9473333333333332
column name: Alcohol, country name: Tonga

total missing ratio:  0.0625
replacement value:  1.1673333333333331
column name: Alcohol, country name: Trinidad and Tobago
total missing ratio:  0.0625
replacement value:  6.044666666666667
column name: Alcohol, country name: Tunisia
total missing ratio:  0.0625
replacement value:  1.3106666666666666
column name: Alcohol, country name: Turkey
total missing ratio:  0.0625
replacement value:  1.4213333333333333
column name: Alcohol, country name: Turkmenistan
total missing ratio:  0.0625
replacement value:  2.6546666666666665
column name: Alcohol, country name: Uganda
total missing ratio:  0.0625
replacement value:  8.050666666666666
column name: Alcohol, country name: Ukraine
total missing ratio:  0.0625
replacement value:  7.369333333333333
column name: Alcohol, country name: United Arab Emirates
total missing ratio:  0.0625
replacement value:  1.75
column name: Alcohol, country name: United Republic of Tanzania
total missing ratio:  0.0625
replacement value:  3.582666666666667
column name: Alcohol, country name: United States of America
total missing ratio:  0.0625
replacement value:  8.579333333333334
column name: Alcohol, country name: Uruguay
total missing ratio:  0.0625
replacement value:  6.172666666666667
column name: Alcohol, country name: Uzbekistan
total missing ratio:  0.0625
replacement value:  1.608666666666667
column name: Alcohol, country name: Vanuatu
total missing ratio:  0.0625
replacement value:  0.8066666666666665
column name: Alcohol, country name: Venezuela (Bolivarian Republic of)
total missing ratio:  0.0625
replacement value:  7.419999999999999
column name: Alcohol, country name: Viet Nam
total missing ratio:  0.0625
replacement value:  3.0873333333333335
column name: Alcohol, country name: Yemen
total missing ratio:  0.0625
replacement value:  0.04733333333333334
column name: Alcohol, country name: Zambia
total missing ratio:  0.0625
replacement value:  2.2393333333333336
column name: Alcohol, country name: Zimbabwe
total missing ratio:  0.0625
replacement value:  4.481999999999999
column name: Hepatitis B, country name: Algeria
total missing ratio:  0.25
replacement value:  78.0
column name: Hepatitis B, country name: CÃ´te d'Ivoire
total missing ratio:  0.0625
replacement value:  63.93333333333333
column name: Hepatitis B, country name: Angola
total missing ratio:  0.4375
replacement value:  70.22222222222223
column name: Hepatitis B, country name: Antigua and Barbuda
total missing ratio:  0.0625
replacement value:  98.26666666666667
column name: Hepatitis B, country name: Argentina
total missing ratio:  0.125
replacement value:  81.28571428571429
column name: Hepatitis B, country name: Australia
total missing ratio:  0.0625
replacement value:  93.4
column name: Hepatitis B, country name: Azerbaijan
total missing ratio:  0.125
replacement value:  59.214285714285715
column name: Hepatitis B, country name: Bahamas
total missing ratio:  0.0625
replacement value:  83.6
column name: Hepatitis B, country name: Bangladesh
total missing ratio:  0.1875
replacement value:  77.61538461538461
column name: Hepatitis B, country name: Barbados
total missing ratio:  0.0625
replacement value:  84.06666666666666
column name: Hepatitis B, country name: Benin
total missing ratio:  0.125
replacement value:  62.57142857142857
column name: Hepatitis B, country name: Bosnia and Herzegovina
total missing ratio:  0.25
replacement value:  71.66666666666667
column name: Hepatitis B, country name: Burkina Faso
total missing ratio:  0.375
replacement value:  81.1
column name: Hepatitis B, country name: Burundi
total missing ratio:  0.25
replacement value:  93.33333333333333
column name: Hepatitis B, country name: Cabo Verde
total missing ratio:  0.125
replacement value:  80.64285714285714
column name: Hepatitis B, country name: Cambodia
total missing ratio:  0.375
replacement value:  79.6
column name: Hepatitis B, country name: Cameroon
total missing ratio:  0.3125
replacement value:  76.81818181818181
column name: Hepatitis B, country name: Canada
total missing ratio:  0.1875
replacement value:  28.846153846153847
column name: Hepatitis B, country name: Central African Republic
total missing ratio:  0.5625
replacement value:  42.57142857142857
column name: Hepatitis B, country name: Chad
total missing ratio:  0.5
replacement value:  29.875
column name: Hepatitis B, country name: Chile
total missing ratio:  0.375
replacement value:  77.2
column name: Hepatitis B, country name: Comoros
total missing ratio:  0.1875
replacement value:  76.46153846153847
column name: Hepatitis B, country name: Congo
total missing ratio:  0.4375
replacement value:  50.77777777777778
column name: Hepatitis B, country name: Croatia
total missing ratio:  0.4375
replacement value:  96.22222222222223
column name: Hepatitis B, country name: Czechia
total missing ratio:  0.125
replacement value:  97.28571428571429
column name: Hepatitis B, country name: Democratic People's Republic of Korea
total missing ratio:  0.1875
replacement value:  88.84615384615384
column name: Hepatitis B, country name: Democratic Republic of the Congo
total missing ratio:  0.4375
replacement value:  51.333333333333336
column name: Hepatitis B, country name: Denmark
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Djibouti
total missing ratio:  0.4375
replacement value:  78.0
column name: Hepatitis B, country name: Equatorial Guinea
total missing ratio:  0.875
replacement value:  9.0
column name: Hepatitis B, country name: Eritrea
total missing ratio:  0.125
replacement value:  86.42857142857143
column name: Hepatitis B, country name: Estonia
total missing ratio:  0.25
replacement value:  86.83333333333333
column name: Hepatitis B, country name: Ethiopia
total missing ratio:  0.4375
replacement value:  64.11111111111111
column name: Hepatitis B, country name: Finland
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Gabon
total missing ratio:  0.3125
replacement value:  57.63636363636363
column name: Hepatitis B, country name: Ghana
total missing ratio:  0.125
replacement value:  67.5
column name: Hepatitis B, country name: Grenada
total missing ratio:  0.0625
replacement value:  95.46666666666667
column name: Hepatitis B, country name: Guatemala
total missing ratio:  0.3125
replacement value:  87.0909090909091
column name: Hepatitis B, country name: Guinea
total missing ratio:  0.4375
replacement value:  58.666666666666664
column name: Hepatitis B, country name: Guinea-Bissau
total missing ratio:  0.5625
replacement value:  75.0
column name: Hepatitis B, country name: Guyana
total missing ratio:  0.0625
replacement value:  88.2
column name: Hepatitis B, country name: Haiti
total missing ratio:  0.8125
replacement value:  40.666666666666664
column name: Hepatitis B, country name: Hungary
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Iceland
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: India
total missing ratio:  0.25
replacement value:  35.0
column name: Hepatitis B, country name: Ireland
total missing ratio:  0.625
replacement value:  86.83333333333333
column name: Hepatitis B, country name: Jamaica
total missing ratio:  0.1875
replacement value:  83.15384615384616
column name: Hepatitis B, country name: Japan
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Kenya
total missing ratio:  0.125
replacement value:  74.57142857142857
column name: Hepatitis B, country name: Lao People's Democratic Republic
total missing ratio:  0.1875
replacement value:  60.30769230769231
column name: Hepatitis B, country name: Lesotho
total missing ratio:  0.1875
replacement value:  73.23076923076923
column name: Hepatitis B, country name: Liberia
total missing ratio:  0.5
replacement value:  49.125
column name: Hepatitis B, country name: Madagascar
total missing ratio:  0.125
replacement value:  63.357142857142854
column name: Hepatitis B, country name: Malawi
total missing ratio:  0.125
replacement value:  89.57142857142857
column name: Hepatitis B, country name: Mali
total missing ratio:  0.1875
replacement value:  67.15384615384616
column name: Hepatitis B, country name: Malta
total missing ratio:  0.1875
replacement value:  80.53846153846153
column name: Hepatitis B, country name: Mauritania
total missing ratio:  0.3125
replacement value:  57.63636363636363

column name: Hepatitis B, country name: Montenegro
total missing ratio:  0.375
replacement value:  48.5
column name: Hepatitis B, country name: Mozambique
total missing ratio:  0.0625
replacement value:  67.86666666666666
column name: Hepatitis B, country name: Myanmar
total missing ratio:  0.1875
replacement value:  65.46153846153847
column name: Hepatitis B, country name: Namibia
total missing ratio:  0.625
replacement value:  86.33333333333333
column name: Hepatitis B, country name: Nepal
total missing ratio:  0.1875
replacement value:  65.38461538461539
column name: Hepatitis B, country name: Netherlands
total missing ratio:  0.6875
replacement value:  48.2
column name: Hepatitis B, country name: Niger
total missing ratio:  0.5625
replacement value:  60.57142857142857
column name: Hepatitis B, country name: Nigeria
total missing ratio:  0.3125
replacement value:  42.90909090909091
column name: Hepatitis B, country name: Norway
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Pakistan
total missing ratio:  0.1875
replacement value:  67.3076923076923
column name: Hepatitis B, country name: Panama
total missing ratio:  0.0625
replacement value:  78.66666666666667
column name: Hepatitis B, country name: Paraguay
total missing ratio:  0.1875
replacement value:  82.15384615384616
column name: Hepatitis B, country name: Peru
total missing ratio:  0.1875
replacement value:  83.6923076923077
column name: Hepatitis B, country name: Russian Federation
total missing ratio:  0.0625
replacement value:  92.33333333333333
column name: Hepatitis B, country name: Rwanda
total missing ratio:  0.125
replacement value:  96.0
column name: Hepatitis B, country name: Saint Lucia
total missing ratio:  0.125
replacement value:  89.28571428571429
column name: Hepatitis B, country name: Saint Vincent and the Grenadines
total missing ratio:  0.1875
replacement value:  93.0
column name: Hepatitis B, country name: Sao Tome and Principe
total missing ratio:  0.1875
replacement value:  83.3076923076923
column name: Hepatitis B, country name: Senegal
total missing ratio:  0.25
replacement value:  86.41666666666667
column name: Hepatitis B, country name: Serbia
total missing ratio:  0.25
replacement value:  90.75
column name: Hepatitis B, country name: Sierra Leone
total missing ratio:  0.4375
replacement value:  83.44444444444444
column name: Hepatitis B, country name: Slovenia
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Somalia
total missing ratio:  0.8125
replacement value:  42.0
column name: Hepatitis B, country name: South Sudan
total missing ratio:  0.9375
replacement value:  31.0
column name: Hepatitis B, country name: Sri Lanka
total missing ratio:  0.1875
replacement value:  90.61538461538461
column name: Hepatitis B, country name: Sudan
total missing ratio:  0.3125
replacement value:  72.36363636363636
column name: Hepatitis B, country name: Suriname
total missing ratio:  0.3125
replacement value:  85.27272727272727
column name: Hepatitis B, country name: Sweden
total missing ratio:  0.6875
replacement value:  59.2
column name: Hepatitis B, country name: Switzerland
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: Tajikistan
total missing ratio:  0.125
replacement value:  84.42857142857143
column name: Hepatitis B, country name: The former Yugoslav republic of Macedonia
total missing ratio:  0.3125
replacement value:  83.54545454545455
column name: Hepatitis B, country name: Timor-Leste
total missing ratio:  0.5
replacement value:  76.0
column name: Hepatitis B, country name: Togo
total missing ratio:  0.5
replacement value:  76.625
column name: Hepatitis B, country name: Trinidad and Tobago
total missing ratio:  0.125
replacement value:  54.92857142857143
column name: Hepatitis B, country name: Turkmenistan
total missing ratio:  0.125
replacement value:  97.28571428571429
column name: Hepatitis B, country name: Uganda
total missing ratio:  0.125
replacement value:  63.42857142857143
column name: Hepatitis B, country name: United Kingdom of Great Britain and Northern Ireland
total missing ratio:  1.0
replacement value:  nan
column name: Hepatitis B, country name: United Republic of Tanzania
total missing ratio:  0.125
replacement value:  73.5
column name: Hepatitis B, country name: Uzbekistan
total missing ratio:  0.125
replacement value:  95.64285714285714
column name: Hepatitis B, country name: Viet Nam
total missing ratio:  0.1875
replacement value:  87.53846153846153
column name: Hepatitis B, country name: Zambia
total missing ratio:  0.3125
replacement value:  69.81818181818181
column name:  BMI , country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name:  BMI , country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name:  BMI , country name: South Sudan
total missing ratio:  1.0
replacement value:  nan
column name:  BMI , country name: Sudan
total missing ratio:  1.0
replacement value:  nan
column name: Polio, country name: Montenegro
total missing ratio:  0.375
replacement value:  84.3
column name: Polio, country name: South Sudan
total missing ratio:  0.6875
replacement value:  44.0
column name: Polio, country name: Timor-Leste
total missing ratio:  0.125
replacement value:  63.214285714285715
column name: Total expenditure, country name: Algeria
total missing ratio:  0.0625
replacement value:  4.604
column name: Total expenditure, country name: CÃ´te d'Ivoire
total missing ratio:  0.0625
replacement value:  5.723333333333333
column name: Total expenditure, country name: Angola
total missing ratio:  0.0625
replacement value:  3.919333333333333
column name: Total expenditure, country name: Antigua and Barbuda
total missing ratio:  0.0625
replacement value:  4.791333333333332
column name: Total expenditure, country name: Argentina
total missing ratio:  0.0625
replacement value:  6.9126666666666665
column name: Total expenditure, country name: Armenia
total missing ratio:  0.0625
replacement value:  4.8613333333333335
column name: Total expenditure, country name: Australia
total missing ratio:  0.0625
replacement value:  8.836666666666668
column name: Total expenditure, country name: Austria
total missing ratio:  0.0625
replacement value:  4.715333333333333
column name: Total expenditure, country name: Azerbaijan
total missing ratio:  0.0625
replacement value:  5.679333333333333
column name: Total expenditure, country name: Bahamas
total missing ratio:  0.0625
replacement value:  6.706
column name: Total expenditure, country name: Bahrain
total missing ratio:  0.0625
replacement value:  3.8073333333333332
column name: Total expenditure, country name: Bangladesh
total missing ratio:  0.0625
replacement value:  2.8546666666666667
column name: Total expenditure, country name: Barbados
total missing ratio:  0.0625
replacement value:  6.122
column name: Total expenditure, country name: Belarus
total missing ratio:  0.0625
replacement value:  6.191999999999999
column name: Total expenditure, country name: Belgium
total missing ratio:  0.0625
replacement value:  5.962000000000001
column name: Total expenditure, country name: Belize
total missing ratio:  0.0625
replacement value:  5.039333333333333
column name: Total expenditure, country name: Benin
total missing ratio:  0.0625
replacement value:  4.635999999999999
column name: Total expenditure, country name: Bhutan
total missing ratio:  0.0625
replacement value:  5.346
column name: Total expenditure, country name: Bolivia (Plurinational State of)
total missing ratio:  0.0625
replacement value:  5.626
column name: Total expenditure, country name: Bosnia and Herzegovina
total missing ratio:  0.0625
replacement value:  8.741999999999999
column name: Total expenditure, country name: Botswana
total missing ratio:  0.0625
replacement value:  5.510666666666666
column name: Total expenditure, country name: Brazil
total missing ratio:  0.0625
replacement value:  8.019333333333332
column name: Total expenditure, country name: Brunei Darussalam
total missing ratio:  0.0625
replacement value:  2.8200000000000003
column name: Total expenditure, country name: Bulgaria
total missing ratio:  0.0625
replacement value:  7.236000000000001
column name: Total expenditure, country name: Burkina Faso
total missing ratio:  0.0625
replacement value:  6.038
column name: Total expenditure, country name: Burundi
total missing ratio:  0.0625
replacement value:  7.089333333333333
column name: Total expenditure, country name: Cabo Verde
total missing ratio:  0.0625
replacement value:  4.755333333333334
column name: Total expenditure, country name: Cambodia
total missing ratio:  0.0625
replacement value:  5.740666666666667
column name: Total expenditure, country name: Cameroon
total missing ratio:  0.0625
replacement value:  4.719333333333333
column name: Total expenditure, country name: Canada
total missing ratio:  0.0625
replacement value:  7.0520000000000005
column name: Total expenditure, country name: Central African Republic
total missing ratio:  0.0625
replacement value:  4.039333333333333
column name: Total expenditure, country name: Chad
total missing ratio:  0.0625
replacement value:  4.379333333333333
column name: Total expenditure, country name: Chile
total missing ratio:  0.0625
replacement value:  6.911333333333332
column name: Total expenditure, country name: China
total missing ratio:  0.0625
replacement value:  4.918
column name: Total expenditure, country name: Colombia
total missing ratio:  0.0625
replacement value:  6.34
column name: Total expenditure, country name: Comoros
total missing ratio:  0.0625
replacement value:  4.831999999999999
column name: Total expenditure, country name: Congo
total missing ratio:  0.0625
replacement value:  2.9866666666666664
column name: Total expenditure, country name: Costa Rica
total missing ratio:  0.0625
replacement value:  8.62
column name: Total expenditure, country name: Croatia
total missing ratio:  0.0625
replacement value:  7.370666666666667
column name: Total expenditure, country name: Cuba
total missing ratio:  0.0625
replacement value:  6.428666666666667
column name: Total expenditure, country name: Cyprus
total missing ratio:  0.0625
replacement value:  6.760000000000001
column name: Total expenditure, country name: Czechia
total missing ratio:  0.0625
replacement value:  7.05
column name: Total expenditure, country name: Democratic People's Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Total expenditure, country name: Democratic Republic of the Congo
total missing ratio:  0.0625
replacement value:  3.558666666666667
column name: Total expenditure, country name: Denmark
total missing ratio:  0.0625
replacement value:  7.822666666666667
column name: Total expenditure, country name: Djibouti
total missing ratio:  0.0625
replacement value:  7.070666666666667
column name: Total expenditure, country name: Dominican Republic
total missing ratio:  0.0625
replacement value:  4.681333333333333
column name: Total expenditure, country name: Ecuador
total missing ratio:  0.0625
replacement value:  5.879999999999999
column name: Total expenditure, country name: Egypt
total missing ratio:  0.0625
replacement value:  5.346
column name: Total expenditure, country name: El Salvador
total missing ratio:  0.0625
replacement value:  7.1033333333333335
column name: Total expenditure, country name: Slovakia
total missing ratio:  0.0625
replacement value:  7.376
column name: Total expenditure, country name: Equatorial Guinea
total missing ratio:  0.0625

replacement value:  2.929333333333333
column name: Total expenditure, country name: Eritrea
total missing ratio:  0.0625
replacement value:  3.4686666666666666
column name: Total expenditure, country name: Estonia
total missing ratio:  0.0625
replacement value:  5.687333333333333
column name: Total expenditure, country name: Ethiopia
total missing ratio:  0.0625
replacement value:  4.901333333333334
column name: Total expenditure, country name: Fiji
total missing ratio:  0.0625
replacement value:  3.8973333333333335
column name: Total expenditure, country name: Finland
total missing ratio:  0.0625
replacement value:  8.614
column name: Total expenditure, country name: France
total missing ratio:  0.0625
replacement value:  6.556
column name: Total expenditure, country name: Gabon
total missing ratio:  0.0625
replacement value:  3.175333333333333
column name: Total expenditure, country name: Gambia
total missing ratio:  0.0625
replacement value:  5.308666666666666
column name: Total expenditure, country name: Georgia
total missing ratio:  0.0625
replacement value:  7.3306666666666676
column name: Total expenditure, country name: Germany
total missing ratio:  0.0625
replacement value:  4.073333333333333
column name: Total expenditure, country name: Ghana
total missing ratio:  0.0625
replacement value:  4.328666666666667
column name: Total expenditure, country name: Greece
total missing ratio:  0.0625
replacement value:  9.038666666666666
column name: Total expenditure, country name: Grenada
total missing ratio:  0.0625
replacement value:  6.188666666666666
column name: Total expenditure, country name: Guatemala
total missing ratio:  0.0625
replacement value:  6.593999999999999
column name: Total expenditure, country name: Guinea
total missing ratio:  0.0625
replacement value:  4.009333333333333
column name: Total expenditure, country name: Guinea-Bissau
total missing ratio:  0.0625
replacement value:  5.870666666666667
column name: Total expenditure, country name: Guyana
total missing ratio:  0.0625
replacement value:  6.084
column name: Total expenditure, country name: Haiti
total missing ratio:  0.0625
replacement value:  6.183333333333334
column name: Total expenditure, country name: Honduras
total missing ratio:  0.0625
replacement value:  8.147333333333334
column name: Total expenditure, country name: Hungary
total missing ratio:  0.0625
replacement value:  7.768666666666666
column name: Total expenditure, country name: Iceland
total missing ratio:  0.0625
replacement value:  8.546
column name: Total expenditure, country name: India
total missing ratio:  0.0625
replacement value:  4.358666666666666
column name: Total expenditure, country name: Indonesia
total missing ratio:  0.0625
replacement value:  2.6633333333333336
column name: Total expenditure, country name: Iran (Islamic Republic of)
total missing ratio:  0.0625
replacement value:  6.29
column name: Total expenditure, country name: Iraq
total missing ratio:  0.25
replacement value:  4.435833333333333
column name: Total expenditure, country name: Ireland
total missing ratio:  0.0625
replacement value:  7.728666666666667
column name: Total expenditure, country name: Israel
total missing ratio:  0.0625
replacement value:  7.478666666666667
column name: Total expenditure, country name: Italy
total missing ratio:  0.0625
replacement value:  8.777333333333333
column name: Total expenditure, country name: Jamaica
total missing ratio:  0.0625
replacement value:  5.144
column name: Total expenditure, country name: Japan
total missing ratio:  0.0625
replacement value:  6.472666666666667
column name: Total expenditure, country name: Jordan
total missing ratio:  0.0625
replacement value:  8.781333333333333
column name: Total expenditure, country name: Kazakhstan
total missing ratio:  0.0625
replacement value:  4.019333333333333
column name: Total expenditure, country name: Kenya
total missing ratio:  0.0625
replacement value:  4.668666666666667
column name: Total expenditure, country name: Kiribati
total missing ratio:  0.0625
replacement value:  5.728
column name: Total expenditure, country name: Kuwait
total missing ratio:  0.0625
replacement value:  2.8093333333333335
column name: Total expenditure, country name: Kyrgyzstan
total missing ratio:  0.0625
replacement value:  6.118666666666667
column name: Total expenditure, country name: Lao People's Democratic Republic
total missing ratio:  0.0625
replacement value:  3.444
column name: Total expenditure, country name: Latvia
total missing ratio:  0.0625
replacement value:  6.331333333333333
column name: Total expenditure, country name: Lebanon
total missing ratio:  0.0625
replacement value:  6.6706666666666665
column name: Total expenditure, country name: Lesotho
total missing ratio:  0.0625
replacement value:  7.607333333333333
column name: Total expenditure, country name: Liberia
total missing ratio:  0.0625
replacement value:  6.843999999999999
column name: Total expenditure, country name: Libya
total missing ratio:  0.0625
replacement value:  3.728
column name: Total expenditure, country name: Lithuania
total missing ratio:  0.0625
replacement value:  6.5473333333333334
column name: Total expenditure, country name: Luxembourg
total missing ratio:  0.0625
replacement value:  7.5473333333333334
column name: Total expenditure, country name: Madagascar
total missing ratio:  0.0625
replacement value:  4.710666666666667
column name: Total expenditure, country name: Malawi
total missing ratio:  0.0625
replacement value:  6.658666666666667
column name: Total expenditure, country name: Malaysia
total missing ratio:  0.0625
replacement value:  3.7486666666666664
column name: Total expenditure, country name: Maldives
total missing ratio:  0.0625
replacement value:  8.236666666666668
column name: Total expenditure, country name: Mali
total missing ratio:  0.0625
replacement value:  6.522666666666667
column name: Total expenditure, country name: Malta
total missing ratio:  0.0625
replacement value:  8.596666666666666
column name: Total expenditure, country name: Mauritania
total missing ratio:  0.0625
replacement value:  3.9353333333333333
column name: Total expenditure, country name: Mauritius
total missing ratio:  0.0625
replacement value:  4.524666666666667
column name: Total expenditure, country name: Mexico
total missing ratio:  0.0625
replacement value:  6.074
column name: Total expenditure, country name: Micronesia (Federated States of)
total missing ratio:  0.0625
replacement value:  11.056000000000003
column name: Total expenditure, country name: Mongolia
total missing ratio:  0.0625
replacement value:  5.180666666666667
column name: Total expenditure, country name: Montenegro
total missing ratio:  0.0625
replacement value:  7.4193333333333324
column name: Total expenditure, country name: Morocco
total missing ratio:  0.0625
replacement value:  5.442666666666667
column name: Total expenditure, country name: Mozambique
total missing ratio:  0.0625
replacement value:  5.972666666666667
column name: Total expenditure, country name: Myanmar
total missing ratio:  0.0625
replacement value:  2.0126666666666666
column name: Total expenditure, country name: Namibia
total missing ratio:  0.0625
replacement value:  7.398666666666666
column name: Total expenditure, country name: Nepal
total missing ratio:  0.0625
replacement value:  5.889333333333334
column name: Total expenditure, country name: Netherlands
total missing ratio:  0.0625
replacement value:  7.141333333333334
column name: Total expenditure, country name: New Zealand
total missing ratio:  0.0625
replacement value:  8.876000000000001
column name: Total expenditure, country name: Nicaragua
total missing ratio:  0.0625
replacement value:  6.730666666666667
column name: Total expenditure, country name: Niger
total missing ratio:  0.0625
replacement value:  6.577333333333333
column name: Total expenditure, country name: Nigeria
total missing ratio:  0.0625
replacement value:  3.710666666666667
column name: Total expenditure, country name: Norway
total missing ratio:  0.0625
replacement value:  9.086000000000002
column name: Total expenditure, country name: Oman
total missing ratio:  0.0625
replacement value:  2.8766666666666665
column name: Total expenditure, country name: Pakistan
total missing ratio:  0.0625
replacement value:  2.9040000000000004
column name: Total expenditure, country name: Panama

total missing ratio:  0.0625
replacement value:  7.7219999999999995
column name: Total expenditure, country name: Papua New Guinea
total missing ratio:  0.0625
replacement value:  5.462666666666666
column name: Total expenditure, country name: Paraguay
total missing ratio:  0.0625
replacement value:  6.778666666666667
column name: Total expenditure, country name: Peru
total missing ratio:  0.0625
replacement value:  4.926666666666667
column name: Total expenditure, country name: Philippines
total missing ratio:  0.0625
replacement value:  3.905333333333333
column name: Total expenditure, country name: Poland
total missing ratio:  0.0625
replacement value:  6.379333333333333
column name: Total expenditure, country name: Portugal
total missing ratio:  0.0625
replacement value:  7.952666666666667
column name: Total expenditure, country name: Qatar
total missing ratio:  0.0625
replacement value:  2.6013333333333337
column name: Total expenditure, country name: Republic of Korea
total missing ratio:  0.0625
replacement value:  5.912
column name: Total expenditure, country name: Republic of Moldova
total missing ratio:  0.0625
replacement value:  6.956666666666666
column name: Total expenditure, country name: Romania
total missing ratio:  0.0625
replacement value:  5.2780000000000005
column name: Total expenditure, country name: Russian Federation
total missing ratio:  0.0625
replacement value:  6.223333333333333
column name: Total expenditure, country name: Rwanda
total missing ratio:  0.0625
replacement value:  6.350666666666666
column name: Total expenditure, country name: Saint Lucia
total missing ratio:  0.0625
replacement value:  6.922666666666667
column name: Total expenditure, country name: Saint Vincent and the Grenadines
total missing ratio:  0.0625
replacement value:  4.816
column name: Total expenditure, country name: Samoa
total missing ratio:  0.0625
replacement value:  5.325333333333333
column name: Total expenditure, country name: Sao Tome and Principe
total missing ratio:  0.0625
replacement value:  6.585999999999999
column name: Total expenditure, country name: Saudi Arabia
total missing ratio:  0.0625
replacement value:  3.9246666666666665
column name: Total expenditure, country name: Senegal
total missing ratio:  0.0625
replacement value:  4.938
column name: Total expenditure, country name: Serbia
total missing ratio:  0.0625
replacement value:  6.198666666666667
column name: Total expenditure, country name: Seychelles
total missing ratio:  0.0625
replacement value:  3.802
column name: Total expenditure, country name: Sierra Leone
total missing ratio:  0.0625
replacement value:  9.218
column name: Total expenditure, country name: Singapore
total missing ratio:  0.0625
replacement value:  3.6879999999999997
column name: Total expenditure, country name: Slovenia
total missing ratio:  0.0625
replacement value:  8.855333333333332
column name: Total expenditure, country name: Solomon Islands
total missing ratio:  0.0625
replacement value:  6.267333333333334
column name: Total expenditure, country name: Somalia
total missing ratio:  1.0
replacement value:  nan
column name: Total expenditure, country name: South Africa
total missing ratio:  0.0625
replacement value:  8.306000000000001
column name: Total expenditure, country name: South Sudan
total missing ratio:  0.8125
replacement value:  2.7100000000000004
column name: Total expenditure, country name: Spain
total missing ratio:  0.0625
replacement value:  8.536666666666667
column name: Total expenditure, country name: Sri Lanka
total missing ratio:  0.0625
replacement value:  3.771333333333333
column name: Total expenditure, country name: Sudan
total missing ratio:  0.0625
replacement value:  5.695333333333333
column name: Total expenditure, country name: Suriname
total missing ratio:  0.0625
replacement value:  6.6626666666666665
column name: Total expenditure, country name: Swaziland
total missing ratio:  0.0625
replacement value:  7.308666666666666
column name: Total expenditure, country name: Sweden
total missing ratio:  0.0625
replacement value:  9.932666666666666
column name: Total expenditure, country name: Switzerland
total missing ratio:  0.0625
replacement value:  6.0873333333333335
column name: Total expenditure, country name: Syrian Arab Republic
total missing ratio:  0.0625
replacement value:  3.9466666666666668
column name: Total expenditure, country name: Tajikistan
total missing ratio:  0.0625
replacement value:  5.648
column name: Total expenditure, country name: Thailand
total missing ratio:  0.0625
replacement value:  3.7573333333333334
column name: Total expenditure, country name: The former Yugoslav republic of Macedonia
total missing ratio:  0.0625
replacement value:  7.5360000000000005
column name: Total expenditure, country name: Timor-Leste
total missing ratio:  0.0625
replacement value:  1.6466666666666667
column name: Total expenditure, country name: Togo
total missing ratio:  0.0625
replacement value:  5.243333333333334
column name: Total expenditure, country name: Tonga
total missing ratio:  0.0625
replacement value:  5.206
column name: Total expenditure, country name: Trinidad and Tobago
total missing ratio:  0.0625
replacement value:  5.199333333333334
column name: Total expenditure, country name: Tunisia
total missing ratio:  0.0625
replacement value:  6.052666666666667
column name: Total expenditure, country name: Turkey
total missing ratio:  0.0625
replacement value:  5.617999999999999
column name: Total expenditure, country name: Turkmenistan
total missing ratio:  0.0625
replacement value:  2.8286666666666664
column name: Total expenditure, country name: Uganda
total missing ratio:  0.0625
replacement value:  8.542
column name: Total expenditure, country name: Ukraine
total missing ratio:  0.0625
replacement value:  6.777333333333333
column name: Total expenditure, country name: United Arab Emirates
total missing ratio:  0.0625
replacement value:  3.0366666666666666
column name: Total expenditure, country name: United Kingdom of Great Britain and Northern Ireland
total missing ratio:  0.0625
replacement value:  8.533999999999999
column name: Total expenditure, country name: United Republic of Tanzania
total missing ratio:  0.0625
replacement value:  4.701333333333334
column name: Total expenditure, country name: United States of America
total missing ratio:  0.0625
replacement value:  15.863333333333333
column name: Total expenditure, country name: Uruguay
total missing ratio:  0.0625
replacement value:  8.75
column name: Total expenditure, country name: Uzbekistan
total missing ratio:  0.0625
replacement value:  5.638000000000001
column name: Total expenditure, country name: Vanuatu
total missing ratio:  0.0625
replacement value:  3.9286666666666665
column name: Total expenditure, country name: Venezuela (Bolivarian Republic of)
total missing ratio:  0.0625
replacement value:  4.998666666666666
column name: Total expenditure, country name: Viet Nam
total missing ratio:  0.0625
replacement value:  5.977333333333333
column name: Total expenditure, country name: Yemen
total missing ratio:  0.0625
replacement value:  5.0053333333333345
column name: Total expenditure, country name: Zambia
total missing ratio:  0.0625
replacement value:  5.824000000000001
column name: Total expenditure, country name: Zimbabwe
total missing ratio:  0.0625
replacement value:  6.158666666666666
column name: Diphtheria , country name: Montenegro
total missing ratio:  0.375
replacement value:  84.5
column name: Diphtheria , country name: South Sudan
total missing ratio:  0.6875
replacement value:  47.0
column name: Diphtheria , country name: Timor-Leste
total missing ratio:  0.125
replacement value:  64.21428571428571
column name: GDP, country name: CÃ´te d'Ivoire
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Bahamas
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Bolivia (Plurinational State of)
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Congo
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Cook Islands
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Czechia
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Democratic People's Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Democratic Republic of the Congo
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Egypt
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Slovakia
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Eritrea
total missing ratio:  0.25
replacement value:  259.3953562916667
column name: GDP, country name: Gambia
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Iran (Islamic Republic of)
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Iraq
total missing ratio:  0.25
replacement value:  3542.55753725
column name: GDP, country name: Kyrgyzstan
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Lao People's Democratic Republic
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Libya
total missing ratio:  0.25
replacement value:  4598.161975416667

column name: GDP, country name: Micronesia (Federated States of)
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Niue
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Papua New Guinea
total missing ratio:  0.0625
replacement value:  758.0976163466668
column name: GDP, country name: Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Republic of Moldova
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Saint Kitts and Nevis
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Saint Lucia
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Saint Vincent and the Grenadines
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Sao Tome and Principe
total missing ratio:  0.0625
replacement value:  771.0348342533332
column name: GDP, country name: Somalia
total missing ratio:  0.8125
replacement value:  297.47334513333334
column name: GDP, country name: South Sudan
total missing ratio:  0.5
replacement value:  1092.233630625
column name: GDP, country name: Syrian Arab Republic
total missing ratio:  0.5
replacement value:  1087.435773875
column name: GDP, country name: The former Yugoslav republic of Macedonia
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: United Kingdom of Great Britain and Northern Ireland
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: United Republic of Tanzania
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: United States of America
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Venezuela (Bolivarian Republic of)
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Viet Nam
total missing ratio:  1.0
replacement value:  nan
column name: GDP, country name: Yemen
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: CÃ´te d'Ivoire
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Antigua and Barbuda
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Bahamas
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Bahrain
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Barbados
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Bolivia (Plurinational State of)
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Brunei Darussalam
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Congo
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Cook Islands
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Cuba
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Czechia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Democratic People's Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Democratic Republic of the Congo
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Dominica
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Egypt
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Slovakia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Eritrea
total missing ratio:  0.25
replacement value:  2071919.3333333333
column name: Population, country name: Gambia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Grenada
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Iran (Islamic Republic of)
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Kuwait
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Kyrgyzstan
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Lao People's Democratic Republic
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Libya
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Marshall Islands
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Micronesia (Federated States of)
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Nauru
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: New Zealand
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Niue
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Oman
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Qatar
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Republic of Moldova
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Saint Kitts and Nevis
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Saint Lucia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Saint Vincent and the Grenadines
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Saudi Arabia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Singapore
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Somalia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: The former Yugoslav republic of Macedonia
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: United Arab Emirates
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: United Kingdom of Great Britain and Northern Ireland
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: United Republic of Tanzania
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: United States of America
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Venezuela (Bolivarian Republic of)
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Viet Nam
total missing ratio:  1.0
replacement value:  nan
column name: Population, country name: Yemen
total missing ratio:  1.0
replacement value:  nan
column name:  thinness  1-19 years, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name:  thinness  1-19 years, country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name:  thinness  1-19 years, country name: South Sudan
total missing ratio:  1.0
replacement value:  nan
column name:  thinness  1-19 years, country name: Sudan
total missing ratio:  1.0
replacement value:  nan
column name:  thinness 5-9 years, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name:  thinness 5-9 years, country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name:  thinness 5-9 years, country name: South Sudan
total missing ratio:  1.0
replacement value:  nan
column name:  thinness 5-9 years, country name: Sudan
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: CÃ´te d'Ivoire
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Cook Islands
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Czechia
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Democratic People's Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Democratic Republic of the Congo
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Marshall Islands
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Nauru
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Niue
total missing ratio:  1.0
replacement value:  nan

column name: Income composition of resources, country name: Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Republic of Moldova
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: San Marino
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Somalia
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: Tuvalu
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: United Kingdom of Great Britain and Northern Ireland
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: United Republic of Tanzania
total missing ratio:  1.0
replacement value:  nan
column name: Income composition of resources, country name: United States of America
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: CÃ´te d'Ivoire
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Cook Islands
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Czechia
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Democratic People's Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Democratic Republic of the Congo
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Monaco
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Niue
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Republic of Korea
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Republic of Moldova
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: Somalia
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: United Kingdom of Great Britain and Northern Ireland
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: United Republic of Tanzania
total missing ratio:  1.0
replacement value:  nan
column name: Schooling, country name: United States of America
total missing ratio:  1.0
replacement value:  nan

In [10]:
# trying to break down the imputation into a single example to see if there was a mistake in the code...
le2.loc[le2["Country"] == 'Sierra Leone']

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2298,Sierra Leone,2015,Developing,51.0,413.0,22,NaN,0.000000,86.0,607,...,86.0,NaN,86.0,0.5,587.538233,723725.0,7.4,7.3,0.431,9.5
2299,Sierra Leone,2014,Developing,48.1,463.0,23,0.01,1.443286,83.0,1006,...,83.0,11.90,83.0,0.6,78.439476,779162.0,7.5,7.4,0.426,9.5
2300,Sierra Leone,2013,Developing,54.0,47.0,23,0.01,1.321464,92.0,15,...,92.0,11.59,92.0,0.8,71.818700,692279.0,7.7,7.6,0.413,9.3
2301,Sierra Leone,2012,Developing,49.7,411.0,25,0.01,54.560337,91.0,678,...,91.0,11.24,91.0,0.9,561.898424,676613.0,7.9,7.8,0.401,9.1
2302,Sierra Leone,2011,Developing,48.9,418.0,26,3.78,54.665917,89.0,1865,...,88.0,11.98,89.0,1.3,445.525000,6611692.0,8.1,8.0,0.392,8.9
2303,Sierra Leone,2010,Developing,48.1,424.0,27,3.84,5.347718,86.0,1089,...,84.0,1.32,86.0,1.6,45.128418,645872.0,8.3,8.2,0.384,8.7
2304,Sierra Leone,2009,Developing,47.1,433.0,28,3.97,49.837127,84.0,31,...,81.0,13.13,84.0,1.7,394.593244,63126.0,8.5,8.4,0.375,8.5
2305,Sierra Leone,2008,Developing,46.2,441.0,29,3.91,5.379606,77.0,44,...,75.0,1.29,77.0,1.9,46.375918,6165372.0,8.7,8.7,0.367,8.3
2306,Sierra Leone,2007,Developing,45.3,45.0,29,3.86,45.571089,63.0,0,...,63.0,1.12,64.0,2.2,358.827472,615417.0,8.9,8.9,0.357,8.2
2307,Sierra Leone,2006,Developing,44.3,464.0,30,3.80,38.000758,NaN,33,...,65.0,1.68,64.0,2.2,322.313468,5848692.0,9.1,9.1,0.348,8.0
2308,Sierra Leone,2005,Developing,43.3,48.0,30,3.83,42.088929,NaN,29,...,67.0,12.25,65.0,2.2,287.689194,5658379.0,9.3,9.3,0.341,7.8
2309,Sierra Leone,2004,Developing,42.3,496.0,30,3.99,38.524548,NaN,7,...,69.0,11.66,65.0,2.1,263.145817,5439695.0,9.5,9.5,0.332,7.6
2310,Sierra Leone,2003,Developing,41.5,57.0,30,4.07,38.614732,NaN,586,...,66.0,11.69,73.0,1.9,263.761831,5199549.0,9.7,9.8,0.322,7.4
2311,Sierra Leone,2002,Developing,48.0,513.0,30,4.06,36.591149,NaN,568,...,54.0,11.96,53.0,1.7,249.939542,4957216.0,9.9,1.0,0.306,7.2
2312,Sierra Leone,2001,Developing,41.0,519.0,30,4.21,33.346915,NaN,649,...,38.0,11.83,38.0,1.5,227.779471,4739147.0,1.1,1.2,0.302,7.0
2313,Sierra Leone,2000,Developing,39.0,533.0,29,3.97,20.395683,NaN,3575,...,46.0,13.63,44.0,1.2,139.314773,4564297.0,1.3,1.4,0.292,6.7

In [11]:
le2.loc[le2["Country"] == 'Sierra Leone'].isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            1
percentage expenditure             0
Hepatitis B                        7
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  1
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [12]:
# Sierra Leone has 7 nulls in Hepatitis B column, try to fill these in...
le2.loc[le2["Country"] == 'Sierra Leone', 'Hepatitis B'].fillna(le2[le2["Country"] == 'Sierra Leone']['Hepatitis B'].mean(), inplace=True)

In [13]:
le2.loc[le2["Country"] == 'Sierra Leone'].isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            1
percentage expenditure             0
Hepatitis B                        7
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  1
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [14]:
# still 7 nulls, fillna did NOT work - check to make sure the portion inside fillna is working:
le2[le2["Country"] == 'Sierra Leone']['Hepatitis B'].mean()

83.44444444444444

In [15]:
# the portion inside fillna seems to be working, so why isn't it actually filling the nulls?
# try reassignment
le2.loc[le2["Country"] == 'Sierra Leone', 'Hepatitis B'] = le2.loc[le2["Country"] == 'Sierra Leone', 'Hepatitis B'].fillna(le2[le2["Country"] == 'Sierra Leone']['Hepatitis B'].mean())

In [16]:
le2.loc[le2["Country"] == 'Sierra Leone'].isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            1
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  1
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [17]:
# the 7 nulls were filled this time! confirm by looking at Sierra Leone's data again:
le2.loc[le2["Country"] == 'Sierra Leone']

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2298,Sierra Leone,2015,Developing,51.0,413.0,22,NaN,0.000000,86.000000,607,...,86.0,NaN,86.0,0.5,587.538233,723725.0,7.4,7.3,0.431,9.5
2299,Sierra Leone,2014,Developing,48.1,463.0,23,0.01,1.443286,83.000000,1006,...,83.0,11.90,83.0,0.6,78.439476,779162.0,7.5,7.4,0.426,9.5
2300,Sierra Leone,2013,Developing,54.0,47.0,23,0.01,1.321464,92.000000,15,...,92.0,11.59,92.0,0.8,71.818700,692279.0,7.7,7.6,0.413,9.3
2301,Sierra Leone,2012,Developing,49.7,411.0,25,0.01,54.560337,91.000000,678,...,91.0,11.24,91.0,0.9,561.898424,676613.0,7.9,7.8,0.401,9.1
2302,Sierra Leone,2011,Developing,48.9,418.0,26,3.78,54.665917,89.000000,1865,...,88.0,11.98,89.0,1.3,445.525000,6611692.0,8.1,8.0,0.392,8.9
2303,Sierra Leone,2010,Developing,48.1,424.0,27,3.84,5.347718,86.000000,1089,...,84.0,1.32,86.0,1.6,45.128418,645872.0,8.3,8.2,0.384,8.7
2304,Sierra Leone,2009,Developing,47.1,433.0,28,3.97,49.837127,84.000000,31,...,81.0,13.13,84.0,1.7,394.593244,63126.0,8.5,8.4,0.375,8.5
2305,Sierra Leone,2008,Developing,46.2,441.0,29,3.91,5.379606,77.000000,44,...,75.0,1.29,77.0,1.9,46.375918,6165372.0,8.7,8.7,0.367,8.3
2306,Sierra Leone,2007,Developing,45.3,45.0,29,3.86,45.571089,63.000000,0,...,63.0,1.12,64.0,2.2,358.827472,615417.0,8.9,8.9,0.357,8.2
2307,Sierra Leone,2006,Developing,44.3,464.0,30,3.80,38.000758,83.444444,33,...,65.0,1.68,64.0,2.2,322.313468,5848692.0,9.1,9.1,0.348,8.0
2308,Sierra Leone,2005,Developing,43.3,48.0,30,3.83,42.088929,83.444444,29,...,67.0,12.25,65.0,2.2,287.689194,5658379.0,9.3,9.3,0.341,7.8
2309,Sierra Leone,2004,Developing,42.3,496.0,30,3.99,38.524548,83.444444,7,...,69.0,11.66,65.0,2.1,263.145817,5439695.0,9.5,9.5,0.332,7.6
2310,Sierra Leone,2003,Developing,41.5,57.0,30,4.07,38.614732,83.444444,586,...,66.0,11.69,73.0,1.9,263.761831,5199549.0,9.7,9.8,0.322,7.4
2311,Sierra Leone,2002,Developing,48.0,513.0,30,4.06,36.591149,83.444444,568,...,54.0,11.96,53.0,1.7,249.939542,4957216.0,9.9,1.0,0.306,7.2
2312,Sierra Leone,2001,Developing,41.0,519.0,30,4.21,33.346915,83.444444,649,...,38.0,11.83,38.0,1.5,227.779471,4739147.0,1.1,1.2,0.302,7.0
2313,Sierra Leone,2000,Developing,39.0,533.0,29,3.97,20.395683,83.444444,3575,...,46.0,13.63,44.0,1.2,139.314773,4564297.0,1.3,1.4,0.292,6.7