# Module 17 Checkpoint 3 (Data cleaning 2: missing values) Assignment

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

Start by loading the remote database into a dataframe

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

education_df = pd.read_sql_query('select * from useducation',con=engine)

engine.dispose()

# Determine all the variable types and find the fraction of the missing values for each variable

In [3]:
# Determine variable types:
education_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 279.8+ KB

In [4]:
# Find the fraction of missing values:
education_df.isnull().sum()/education_df.isnull().count()

PRIMARY_KEY                     0.000000
STATE                           0.000000
YEAR                            0.000000
ENROLL                          0.176273
TOTAL_REVENUE                   0.142091
FEDERAL_REVENUE                 0.142091
STATE_REVENUE                   0.142091
LOCAL_REVENUE                   0.142091
TOTAL_EXPENDITURE               0.142091
INSTRUCTION_EXPENDITURE         0.142091
SUPPORT_SERVICES_EXPENDITURE    0.142091
OTHER_EXPENDITURE               0.176273
CAPITAL_OUTLAY_EXPENDITURE      0.142091
GRADES_PK_G                     0.115952
GRADES_KG_G                     0.088472
GRADES_4_G                      0.087802
GRADES_8_G                      0.087802
GRADES_12_G                     0.087802
GRADES_1_8_G                    0.087802
GRADES_9_12_G                   0.087802
GRADES_ALL_G                    0.115952
AVG_MATH_4_SCORE                0.640751
AVG_MATH_8_SCORE                0.643432
AVG_READING_4_SCORE             0.642761
AVG_READING_8_SCORE             0.666220
dtype: float64

# Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

The most useful variables that can be filled in are the those that are numeric (floats) and *not* already aggregated (i.e. the final 4 variables appear to be averages). Depending on how the data is organized (check if it appears to be already sorted by year and/or state), records with blank year and/or state values may need to be discarded, since they would be difficult to accurately impute if the data is arranged randomly.

In [5]:
# Duplicate the dataframe in case I do something stupid, so the original remains intact.
educationdup_df = education_df.copy()

# Determine which columns to apply imputation to (the non-aggregated floats)
imputable_columns = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE", 
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE", 
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G", 
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", 
             "GRADES_9_12_G", "GRADES_ALL_G"]

# For each column selected, replace all null values with the mean (aggregated over the entire column)
for column in imputable_columns:
    educationdup_df.loc[:, column].fillna(educationdup_df.loc[:, column].mean(), inplace=True)

# Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [6]:
# Make a new duplicate to store this attempt
educationdup2_df = education_df.copy()

# Find all unique year values to iterate over
years = educationdup2_df["YEAR"].unique()

# In each column, for each year, fill nulls with the mean of that specific year
for column in imputable_columns:
    for year in years:
        educationdup2_df.loc[educationdup2_df["YEAR"] == year, column].fillna(
            educationdup2_df[educationdup2_df["YEAR"] == year][column].mean(), inplace=True)

# This time, fill in the missing values using interpolation (extrapolation).

In [7]:
# Another storage duplicate
educationdup3_df = education_df.copy()

# Use interpolation (with default settings because I don't know how to really use this yet!)
for column in imputable_columns:
    educationdup3_df.loc[:, column].interpolate(inplace=True)

# Compare your results for the second, third and the fourth questions. Do you find any meaningful differences?

Compare basic statistics for each of the 3 dataframes that has been modified from the original.

In [8]:
# Use .describe to compare each of the columns where imputation was used!
for column in imputable_columns:
    print("Statistics for columns: {}".format(column))
    print(pd.concat([educationdup_df[column], educationdup2_df[column], educationdup3_df[column]], axis=1).describe())

Statistics for columns: ENROLL
             ENROLL        ENROLL        ENROLL
count  1.492000e+03  1.229000e+03  1.456000e+03
mean   9.159308e+05  9.159308e+05  1.005984e+06
std    9.667725e+05  1.065280e+06  1.009158e+06
min    4.386600e+04  4.386600e+04  4.386600e+04
25%    3.150940e+05  2.583140e+05  2.973995e+05
50%    8.204140e+05  6.483130e+05  7.540845e+05
75%    9.211780e+05  1.014528e+06  1.595024e+06
max    6.307022e+06  6.307022e+06  6.307022e+06
Statistics for columns: TOTAL_REVENUE
       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count   1.492000e+03   1.280000e+03   1.492000e+03
mean    9.092082e+06   9.092082e+06   1.111164e+07
std     1.087818e+07   1.174519e+07   1.200155e+07
min     4.656500e+05   4.656500e+05   4.656500e+05
25%     2.546261e+06   2.186305e+06   2.546261e+06
50%     6.359310e+06   5.079546e+06   6.351760e+06
75%     9.276958e+06   1.085985e+07   1.803650e+07
max     8.921726e+07   8.921726e+07   8.921726e+07
Statistics for columns: FEDERAL_REVENUE
       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.492000e+03     1.280000e+03     1.492000e+03
mean      7.663723e+05     7.663723e+05     8.922691e+05
std       1.060702e+06     1.145242e+06     1.106788e+06
min       3.102000e+04     3.102000e+04     3.102000e+04
25%       2.170200e+05     1.893540e+05     2.170200e+05
50%       5.167410e+05     4.033765e+05     5.165190e+05
75%       7.663723e+05     8.289660e+05     1.411794e+06
max       9.990221e+06     9.990221e+06     9.990221e+06
Statistics for columns: STATE_REVENUE
       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count   1.492000e+03   1.280000e+03   1.492000e+03
mean    4.216553e+06   4.216553e+06   4.913351e+06
std     5.133895e+06   5.543072e+06   5.423675e+06
min     0.000000e+00   0.000000e+00   0.000000e+00
25%     1.356434e+06   1.153097e+06   1.356434e+06
50%     3.127639e+06   2.537074e+06   3.119414e+06
75%     4.269811e+06   5.080939e+06   8.020633e+06
max     5.090457e+07   5.090457e+07   5.090457e+07
Statistics for columns: LOCAL_REVENUE
       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count   1.492000e+03   1.280000e+03   1.492000e+03
mean    4.109157e+06   4.109157e+06   5.306024e+06
std     5.078230e+06   5.482971e+06   5.900909e+06
min     2.209300e+04   2.209300e+04   2.209300e+04
25%     9.447962e+05   7.158345e+05   9.447962e+05
50%     2.697257e+06   2.055780e+06   2.650904e+06
75%     4.109157e+06   4.768680e+06   8.584803e+06
max     3.610526e+07   3.610526e+07   3.610526e+07
Statistics for columns: TOTAL_EXPENDITURE
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  TOTAL_EXPENDITURE
count       1.492000e+03       1.280000e+03       1.492000e+03
mean        9.196681e+06       9.196681e+06       1.114374e+07
std         1.109393e+07       1.197813e+07       1.212433e+07
min         4.816650e+05       4.816650e+05       4.816650e+05
25%         2.523968e+06       2.165404e+06       2.523968e+06
50%         6.520224e+06       5.234506e+06       6.499891e+06
75%         9.434922e+06       1.074519e+07       1.801704e+07
max         8.532013e+07       8.532013e+07       8.532013e+07
Statistics for columns: INSTRUCTION_EXPENDITURE
       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count             1.492000e+03             1.280000e+03
mean              4.762966e+06             4.762966e+06
std               5.828468e+06             6.293004e+06
min               2.655490e+05             2.655490e+05
25%               1.343611e+06             1.168032e+06
50%               3.358142e+06             2.657452e+06
75%               4.938820e+06             5.568028e+06
max               4.396452e+07             4.396452e+07

       INSTRUCTION_EXPENDITURE
count             1.492000e+03
mean              5.792260e+06
std               6.376549e+06
min               2.655490e+05
25%               1.343611e+06
50%               3.318778e+06
75%               9.130766e+06
max               4.396452e+07
Statistics for columns: SUPPORT_SERVICES_EXPENDITURE
       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count                  1.492000e+03                  1.280000e+03
mean                   2.680331e+06                  2.680331e+06
std                    3.105812e+06                  3.353349e+06
min                    1.399630e+05                  1.399630e+05
25%                    7.673688e+05                  6.357900e+05
50%                    1.913844e+06                  1.525406e+06
75%                    2.795888e+06                  3.229651e+06
max                    2.605802e+07                  2.605802e+07

       SUPPORT_SERVICES_EXPENDITURE
count                  1.492000e+03
mean                   3.324275e+06
std                    3.500830e+06
min                    1.399630e+05
25%                    7.673688e+05
50%                    1.910412e+06
75%                    5.435244e+06
max                    2.605802e+07
Statistics for columns: OTHER_EXPENDITURE
       OTHER_EXPENDITURE  OTHER_EXPENDITURE  OTHER_EXPENDITURE
count       1.492000e+03       1.229000e+03       1.456000e+03
mean        4.292046e+05       4.292046e+05       5.004288e+05
std         4.846832e+05       5.340693e+05       5.253843e+05
min         1.154100e+04       1.154100e+04       1.154100e+04
25%         1.354282e+05       1.028310e+05       1.279618e+05
50%         3.672335e+05       2.715960e+05       3.415810e+05
75%         4.568915e+05       5.186000e+05       8.490842e+05
max         3.995951e+06       3.995951e+06       3.995951e+06
Statistics for columns: CAPITAL_OUTLAY_EXPENDITURE
       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE  \
count                1.492000e+03                1.280000e+03
mean                 9.027693e+05                9.027693e+05
std                  1.229564e+06                1.327562e+06
min                  1.270800e+04                1.270800e+04
25%                  2.163398e+05                1.815645e+05
50%                  6.482175e+05                5.102595e+05
75%                  9.027693e+05                9.668515e+05
max                  1.022366e+07                1.022366e+07

       CAPITAL_OUTLAY_EXPENDITURE
count                1.492000e+03
mean                 1.033524e+06
std                  1.272901e+06
min                  1.270800e+04
25%                  2.163398e+05
50%                  6.436235e+05
75%                  1.717212e+06
max                  1.022366e+07
Statistics for columns: GRADES_PK_G
         GRADES_PK_G    GRADES_PK_G    GRADES_PK_G
count    1492.000000    1319.000000    1492.000000
mean    17601.614102   17601.614102   15926.059316
std     28221.111094   30016.166447   28669.479212
min         0.000000       0.000000       0.000000
25%      2449.000000    2021.000000    1544.000000
50%     10505.000000    8106.000000    5910.500000
75%     19149.250000   22295.000000   19561.000000
max    250911.000000  250911.000000  250911.000000
Statistics for columns: GRADES_KG_G
         GRADES_KG_G    GRADES_KG_G    GRADES_KG_G
count    1492.000000    1360.000000    1492.000000
mean    63746.761029   63746.761029   59021.465818
std     76572.547833   80205.138143   78271.025323
min       544.000000     544.000000     544.000000
25%     14016.000000   11745.000000    9926.750000
50%     48897.000000   41597.500000   38507.000000
75%     70372.750000   73865.250000   70748.750000
max    530531.000000  530531.000000  530531.000000
Statistics for columns: GRADES_4_G
          GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1492.000000    1361.000000    1492.000000
mean    64538.927259   64538.927259   59797.646113
std     76684.998585   80293.387625   78406.899202
min       633.000000     633.000000     633.000000
25%     15195.500000   13739.000000   10117.250000
50%     49884.500000   43272.000000   38280.500000
75%     71814.250000   75481.000000   72310.250000
max    493415.000000  493415.000000  493415.000000
Statistics for columns: GRADES_8_G
          GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1492.000000    1361.000000    1492.000000
mean    64271.057311   64271.057311   59511.380027
std     75364.301721   78910.545776   77123.573668
min       437.000000     437.000000     437.000000
25%     15682.750000   13342.000000   10252.000000
50%     49571.000000   43339.000000   38114.500000
75%     72131.000000   76566.000000   72598.250000
max    500143.000000  500143.000000  500143.000000
Statistics for columns: GRADES_12_G
         GRADES_12_G   GRADES_12_G    GRADES_12_G
count    1492.000000    1361.00000    1492.000000
mean    54268.924320   54268.92432   50207.239276
std     64838.328605   67889.27623   66309.867155
min       311.000000     311.00000     311.000000
25%     13437.000000   10919.00000    8951.000000
50%     39566.000000   36735.00000   33279.000000
75%     64616.250000   67460.00000   64920.500000
max    498403.000000  498403.00000  498403.000000
Statistics for columns: GRADES_1_8_G
       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count  1.492000e+03  1.361000e+03  1.492000e+03
mean   5.192140e+05  5.192140e+05  4.810102e+05
std    6.147133e+05  6.436384e+05  6.286622e+05
min    4.878000e+03  4.878000e+03  4.878000e+03
25%    1.211522e+05  1.106260e+05  8.127325e+04
50%    4.015865e+05  3.457750e+05  3.097340e+05
75%    5.749118e+05  6.119050e+05  5.783400e+05
max    3.929869e+06  3.929869e+06  3.929869e+06
Statistics for columns: GRADES_9_12_G

       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count   1.492000e+03   1.361000e+03   1.492000e+03
mean    2.470714e+05   2.470714e+05   2.286678e+05
std     2.938773e+05   3.077056e+05   3.005815e+05
min     1.808000e+03   1.808000e+03   1.808000e+03
25%     5.919750e+04   5.147100e+04   3.950675e+04
50%     1.817010e+05   1.642600e+05   1.472355e+05
75%     2.825390e+05   2.905020e+05   2.843505e+05
max     2.013687e+06   2.013687e+06   2.013687e+06
Statistics for columns: GRADES_ALL_G
       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count  1.492000e+03  1.319000e+03  1.492000e+03
mean   8.024415e+05  8.024415e+05  7.478782e+05
std    9.126522e+05  9.707031e+05  9.291585e+05
min    7.254000e+03  7.254000e+03  7.254000e+03
25%    2.293578e+05  1.810650e+05  1.718665e+05
50%    6.473260e+05  5.503420e+05  4.591248e+05
75%    8.724220e+05  9.282755e+05  8.860948e+05
max    5.944746e+06  5.944746e+06  5.944746e+06